.admin-home-container {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  div.date-filter {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    padding: 5px;
    box-sizing: border-box;
    input {
      width: 45%;
    }
    button {
      width: 15%;
    }
  }

  div.table {
    margin-top: 0 !important;
    min-height: 300px;
    box-sizing: border-box;
    tbody {
      tr {
        height: 50px;
        td {
          padding: 10px;
          text-align: center;
        }
        td:first-child {
          width: 50%;
          border: 1px solid #389845;
          border-radius: 10px;
        }
        td:nth-child(2) {
          font-size: x-large;
          width: 30%;
          color: #389845;
          font-weight: bolder;
        }
      }
    }
  }

  div.tables {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .admin-home-container {
    .info-table {grid-template-columns: auto !important}
  }
}