.reset-password-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    .input { 
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 5px;
    }
    input {
      width: 80%;
      height: 50px;
      text-align: center;
    }
    button.loading {
      width: 50px;
      height: 50px;
      border: 5px solid #2B6377;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-radius: 50%;
      background-color: transparent;
      color: transparent;
      user-select: none;
      animation: 1s reloader infinite linear;
  }
  }
}

@keyframes reloader {
  to { transform: rotate(360deg)}
}