node_modules/
.vscode
.env

TestClusterCheck.js
TestCondumer.js
TestCreateTopic.js
Testproducer.js
src/tree.txt
src/TestConsumer.js

todo.txt


matomo_config/certs/matomo.localhost-key.pem
matomo_config/certs/matomo.localhost.pem


src/app/redis/clear.js
src/app/redis/query.js

batch_pipeline/