services:

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    ports:
      - "8123:8123"   # HTTP (ClickHouse UI / clients)
      - "9000:9000"   # Native protocol
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    volumes:
      - clickhouse_data:/var/lib/clickhouse
      - clickhouse_logs:/var/log/clickhouse-server
      - ./clickhouse-config/users.d:/etc/clickhouse-server/users.d


  kafka-1:
    image: confluentinc/cp-kafka:7.6.1
    container_name: kafka-1
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka-1:29093,2@kafka-2:29093,3@kafka-3:29093"
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:29093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      CLUSTER_ID: "LcA1iuWfRzazY6P1DcJSWA=="
      KAFKA_LOG_DIRS: /var/lib/kafka/data

    mem_limit: 1200m
    cpus: 1.0

  kafka-2:
    image: confluentinc/cp-kafka:7.6.1
    container_name: kafka-2
    ports:
      - "9094:9092"
    environment:
      KAFKA_NODE_ID: 2
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka-1:29093,2@kafka-2:29093,3@kafka-3:29093"
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:29093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9094
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      CLUSTER_ID: "LcA1iuWfRzazY6P1DcJSWA=="
      KAFKA_LOG_DIRS: /var/lib/kafka/data

    mem_limit: 1200m
    cpus: 1.0

  kafka-3:
    image: confluentinc/cp-kafka:7.6.1
    container_name: kafka-3
    ports:
      - "9095:9092"
    environment:
      KAFKA_NODE_ID: 3
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka-1:29093,2@kafka-2:29093,3@kafka-3:29093"
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:29093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9095
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      CLUSTER_ID: "LcA1iuWfRzazY6P1DcJSWA=="
      KAFKA_LOG_DIRS: /var/lib/kafka/data
    mem_limit: 1200m
    cpus: 1.0


  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 12
    restart: unless-stopped

  # mariadb:
  #   image: mariadb:10.11
  #   container_name: matomo-mariadb
  #   environment:
  #     MYSQL_ROOT_PASSWORD: admin
  #     MYSQL_DATABASE: admin
  #     MYSQL_USER: admin
  #     MYSQL_PASSWORD: admin
  #   volumes:
  #     - db_data:/var/lib/mysql
    

  # matomo:
  #   image: matomo:latest
  #   depends_on:
  #     - mariadb
  #   ports:
  #     - "80:80"         # HTTP
  #     - "443:443"       # HTTPS
  #   environment:
  #     MATOMO_DATABASE_HOST: mariadb
  #     MATOMO_DATABASE_USERNAME: admin
  #     MATOMO_DATABASE_PASSWORD: admin
  #     MATOMO_DATABASE_DBNAME: admin
  #   volumes:
  #     - matomo_data:/var/www/html
  #     - ./matomo_config/certs:/etc/matomo/certs:ro
  #     - ./matomo_config/ssl.conf:/etc/apache2/sites-enabled/ssl.conf:ro
  #   command: >
  #     bash -c "
  #       a2enmod ssl &&
  #       apache2-foreground
  #     "



volumes:
  clickhouse_data:
  clickhouse_logs:
  db_data:
  matomo_data: