<div class="admin-all-brands-container">  
  <div class="header">
    <div class="board-title">
      <p>Brand: </p>
    </div>

    {{> dateFilter}}
  </div>

  <div class="control-bar">
    <div class="search">
      <input type="text" id="search-input" name="name" placeholder="Search brand" />
    </div>

    <div class="sort-filter">
      <div class="sort">
        <label>Sort by:</label>
        <select id="price" class="filter-btn">
          <option value="">Price</option>
          <option value="1">Price Ascending</option>
          <option value="-1">Price Descending</option>
        </select>
        <select id="rate" class="filter-btn">
          <option value="">Rating</option>
          <option value="1">Rating Ascending</option>
          <option value="-1">Rating Descending</option>
        </select>
        <select id="saleNumber" class="filter-btn">
          <option value="">Sales Volume</option>
          <option value="1">Sales Volume Ascending</option>
          <option value="-1">Sales Volume Descending</option>
        </select>
      </div>

      <div class="filter">
        <label>Filter:</label>
        <select id="price" class="filter-btn">
          <option value="">Price</option>
        </select>
        <button id="clear-sort-filter" style="display: none">Clear Filter</button>
      </div>
    </div>

    <button class="create-btn" id="create-btn">
      <i class="fi fi-rr-plus"></i>
      <span>Add Brand</span>
    </button>
  </div>

  <div class="table">
    {{> exportFileButton}}
    <table class="all-items">
      <thead>
        <tr>
          <td style="width:  5%">No.            </td>
          <td style="width: 15%">Brand Name</td>
          <td style="width: 15%">Total Products  </td>
          <td style="width: 15%">Total Sales </td>
          <td style="width: 20%">Total Revenue </td>
          <td style="width: 10%">Details       </td>
        </tr>
      </thead>

      <tbody>
        {{#each (holderData 10)}}
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <span class="pagination"></span>
</div>

<div class="admin-create-brand-container" id="create-modal">
  <div id="form">
    <div class="form-title">
      <p>Add New Brand</p>
    </div>

    <div class="form-group">
      <label for="name">Brand Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Enter brand name">
    </div>

    <div class="form-group">
      <label for="img">Brand Logo</label>
      <input type="file" class="form-control" id="img" name="img">
    </div>

    <div class="submit-button">
      <button class="close-modal">Close</button>
      <button type="submit">Complete</button>
    </div>
  </div>
</div>

<div class="brand-details-container" id="detail-modal">
  <div id="form">
    <table id="table-1">
      <thead>
        <tr><td colspan="2">BRAND INFORMATION</td></tr>
      </thead>
      <tr>
        <td>Brand Code</td>
        <td><input type="text" name="id" disabled></td>
      </tr>
      <tr>
        <td>Brand Name</td>
        <td><input type="text" name="name"></td>
      </tr>
      <tr>
        <td>Total Products</td>
        <td><input type="text" name="totalProduct" disabled></td>
      </tr>
      <tr>
        <td>Total Revenue</td>
        <td><input type="text" name="totalRevenue" disabled></td>
      </tr>
    </table>

    <div class="submit-button">
      <button class="close-modal">Close</button>
      <button type="submit">Complete</button>
    </div>
  </div>
</div>

<script type="module" src="/js/admin/all/brand.js"></script>