<div class="admin-all-brands-container">  
  <div class="header">
    <div class="board-title">
      <p>Thương hiệu: </p>
    </div>

    <div class="date-filter">
      <input type="date" id="start-date">
      <input type="date" id="end-date">
      <button title="submit" type="submit">Xem</button>
    </div>
  </div>

  <div class="control-bar">
    <div class="search">
      <input type="text" id="search-input" name="name" placeholder="Search brand" />
    </div>

    <div class="sort-filter">
      <div class="sort">
        <label>Sắp xếp:</label>
        <select id="price" class="filter-btn">
          <option value="">Giá</option>
          <option value="1">Giá tăng dần</option>
          <option value="-1">Giá giảm dần</option>
        </select>
        <select id="rate" class="filter-btn">
          <option value="">Đánh giá</option>
          <option value="1">Đánh giá tăng dần</option>
          <option value="-1">Đánh giá giảm dần</option>
        </select>
        <select id="saleNumber" class="filter-btn">
          <option value="">Lượng bán</option>
          <option value="1">Lượng bán tăng dần</option>
          <option value="-1">Lượng bán giảm dần</option>
        </select>
      </div>

      <div class="filter">
        <label>Lọc:</label>
        <select id="price" class="filter-btn">
          <option value="">Giá</option>
        </select>
        <button id="clear-sort-filter" style="display: none">Xoá bộ lọc</button>
      </div>
    </div>

    <a href="/admin/all-orders/order/create" target="_blank" rel="noopener noreferrer" class="create-btn" id="create-btn">
      <i class="fi fi-rr-plus"></i>
      <span>Thêm Thương Hiệu</span>
    </a>
  </div>

  <div class="table">
    {{> exportFileButton}}
    <table class="all-items">
      <thead>
        <tr>
          <td style="width:  5%">STT            </td>
          <td style="width: 15%">Tên Thương Hiệu</td>
          <td style="width: 15%">Tổng Sản Phẩm  </td>
          <td style="width: 15%">Tổng Lượng Bán </td>
          <td style="width: 20%">Tổng Doanh Thu </td>
          <td style="width: 10%">Chi tiết       </td>
        </tr>
      </thead>

      <tbody>
        {{#each (holderData 10)}}
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <span class="pagination"></span>
</div>

<script type="module" src="/js/admin/all/brand.js"></script>