<div class="admin-all-brands-container">  
  <div class="header">
    <div class="board-title">
      <p>Brand: </p>
    </div>

    <div class="date-filter">
      <input type="date" id="start-date">
      <input type="date" id="end-date">
      <button title="submit" type="submit">View</button>
    </div>
  </div>

  <div class="control-bar">
    <div class="search">
      <select id="search-type" class="search-btn">
        <option value="">Search by</option>
        <option value="_id" selected>ID</option>
        <option value="name">Name</option>
      </select>
      <input type="text" id="search-input" name="name" placeholder="Search brand" />
    </div>

    <div class="sort-filter">
      <div class="sort">
        <label>Sort by:</label>
        <select id="price" class="filter-btn">
          <option value="">Price</option>
          <option value="1">Price Ascending</option>
          <option value="-1">Price Descending</option>
        </select>
        <select id="rate" class="filter-btn">
          <option value="">Rating</option>
          <option value="1">Rating Ascending</option>
          <option value="-1">Rating Descending</option>
        </select>
        <select id="saleNumber" class="filter-btn">
          <option value="">Sales Volume</option>
          <option value="1">Sales Volume Ascending</option>
          <option value="-1">Sales Volume Descending</option>
        </select>
      </div>

      <div class="filter">
        <label>Filter:</label>
        <select id="price" class="filter-btn">
          <option value="">Price</option>
        </select>
        <button id="clear-sort-filter" style="display: none">Clear Filter</button>
      </div>
    </div>

    <a href="/admin/all-orders/order/create" target="_blank" rel="noopener noreferrer" class="create-btn" id="create-btn">
      <i class="fi fi-rr-plus"></i>
      <span>Add Brand</span>
    </a>
  </div>

  <div class="table">
    {{> exportFileButton}}
    <table class="all-items">
      <thead>
        <tr>
          <td style="width:  5%">No.            </td>
          <td style="width: 15%">Brand Name</td>
          <td style="width: 15%">Total Products  </td>
          <td style="width: 15%">Total Sales </td>
          <td style="width: 20%">Total Revenue </td>
          <td style="width: 10%">Details       </td>
        </tr>
      </thead>

      <tbody>
        {{#each (holderData 10)}}
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <span class="pagination"></span>
</div>

<script type="module" src="/js/admin/all/brand.js"></script>