<div class="admin-all-customers-container">
  <div class="header">
    <div class="board-title">
      <p>Customer: </p>
    </div>

    <div class="date-filter">
      <input type="date" id="start-date">
      <input type="date" id="end-date">
      <button title="submit" type="submit">View</button>
    </div>
  </div>

  <div class="control-bar">
    <div class="search">
      <select id="search-type" class="search-btn">
        <option value="">Search by</option>
        <option value="_id" selected>ID</option>
        <option value="name">Name</option>
        <option value="email">Email</option>
        <option value="phone">Phone Number</option>
        <option value="address">Address</option>
      </select>
      <input type="text" id="search-input" placeholder="Search customer">
    </div>

    <div class="sort-filter">
      <div class="sort">
        <label>Sort by:</label>
        <select id="revenue" class="filter-btn">
          <option value="">Revenue</option>
          <option value="-1">Revenue High - Low</option>
          <option value="1">Revenue Low - High</option>
        </select>
        <select id="quantity" class="filter-btn">
          <option value="">Orders</option>
          <option value="-1">Orders High - Low</option>
          <option value="1">Orders Low - High</option>
        </select>
      </div>

      <div class="filter">
        <label>Filter:</label>
        <select id="gender" class="filter-btn">
          <option value="">Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <select id="memberCode" class="filter-btn">
          <option value="">Member Tier</option>
        </select>
        
        <button id="clear-sort-filter" style="display: none">Clear</button>
      </div>
    </div>

    <a href="/admin/all-customers/customer/create" target="_blank" class="create-btn" id="create-btn">
      <i class="fi fi-rr-plus"></i>
      <span>Add Customer</span>
    </a>
  </div>

  <div class="table">
    {{> exportFileButton}}
    <table class="all-items">
      <thead>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </thead>

      <tbody>
        {{#each (holderData 10)}}
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <span class="pagination"></span>
</div>

<script type="module" src="/js/admin/all/customer.js"></script>