<div class="admin-all-products-container">  
  <div class="board-title">
    <p>Material:</p>
  </div>

  <div class="control-bar">
    <div class="filter-and-create">
      <div class="sort">
        <label>Sort by:</label>
        <select id="price" class="filter-btn">
          <option value="">Price</option>
          <option value="-1">Price High - Low</option>
          <option value="1">Price Low - High</option>
        </select>
      </div>

      <button id="clear-sort-filter" style="display: none">Clear Filter</button>

      <a target="_blank" rel="noopener noreferrer" href="/admin/all-materials/material/create" class="create-btn" id="create-btn">
        <i class="fi fi-rr-plus"></i>
        <p>Add Material</p>
      </a>
    </div>
  <input type="text" id="search-input" name="name" placeholder="Search material">
  </div>

  <div class="table">
    {{> exportFileButton}}
    <table class="all-items">
      <thead>
        <tr>
          <td style="width:  5%">No.          </td>
          <td style="width: 10%">Code           </td>
          <td style="width: 30%">Name          </td>
          <td style="width: 15%">Purchase Price     </td>
          <td style="width: 15%">Stock      </td>
          <td style="width: 10%">Expiration Date </td>
          <td style="width: 15%">Action     </td>
        </tr>
      </thead>

      <tbody>
        {{#each (holderData 10)}}
        <tr>
          <td></td>
          <td></td>
          <td></td>  
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <span class="pagination"></span>
</div>

<script type="module" src="/js/admin/all/material.js"></script>