<div class="admin-all-orders-container">  
  <div class="header">
    <div class="board-title">
      <p>Order: </p>
    </div>

    <div class="date-filter">
      <input type="date" id="start-date">
      <input type="date" id="end-date">
      <button title="submit" type="submit">View</button>
    </div>
  </div>
  
  <div class="control-bar">
    <div class="search">
      <select id="search-type" class="search-btn">
        <option value="">Search by</option>
        <option value="_id" selected>ID</option>
        <option value="customerInfo.userId">Customer Code</option>
        <option value="customerInfo.name">Customer Name</option>
      </select>
      <input type="text" id="search-input" name="name" placeholder="Search order" />
    </div>

    <div class="sort-filter">
      <div class="sort">
        <label>Sort by:</label>
        <select id="createdAt" class="filter-btn">
          <option value="">Order Date</option>
          <option value="-1">Newest Date</option>
          <option value="1">Oldest Date</option>
        </select>
        <select id="totalNewOrderPrice" class="filter-btn">
          <option value="">Order Value</option>
          <option value="-1">Value High - Low</option>
          <option value="1">Value Low - High</option>
        </select>
      </div>

      <div class="filter">
        <label>Filter:</label>
        <select id="status" class="filter-btn">
          <option value="">Order Status</option>
        </select>
        <select id="paymentMethod" class="filter-btn">
          <option value="">Payment</option>
        </select>
        <button id="clear-sort-filter" style="display: none">Clear Filter</button>
      </div>
    </div>

    <a href="/admin/all-orders/order/create" target="_blank" rel="noopener noreferrer" class="create-btn" id="create-btn">
      <i class="fi fi-rr-plus"></i>
      <span>Add Order</span>
    </a>
  </div>

  <div class="table">
    {{> exportFileButton}}
    <table class="all-items">
      <thead>
        <tr>
          <td style="width:  5%">No.           </td>
          <td style="width: 25%">Order Code   </td>
          <td style="width: 25%">Customer Name</td>
          <td style="width: 15%">Total Amount  </td>
          <td style="width: 20%">Order Date </td>
          <td style="width: 10%">Details      </td>
        </tr>
      </thead>

      <tbody>
        {{#each (holderData 10)}}
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <span class="pagination"></span>
</div>

<script type="module" src="/js/admin/all/order.js"></script>