<div class="admin-all-products-container">  
  <div class="header">
    <div class="board-title">
      <p>Product:</p>
      <p class="trash"><a href="/admin/all-products/trash">Deleted</a></p>
    </div>

    {{> dateFilter}}
  </div>

 
  </script>
  <div class="control-bar">
    <div class="search">
      <select id="search-type" class="search-btn">
        <option value="">Search by</option>
        <option value="_id" selected>ID</option>
        <option value="name">Name</option>
        <option value="brand">Brand</option>
      </select>
      <input type="text" id="search-input" name="name" placeholder="Search product" />
    </div>

    <div class="sort-filter">
      <div class="sort">
        <label>Sort by:</label>
        <select id="price" class="filter-btn">
          <option value="">Price</option>
          <option value="-1">Price High - Low</option>
          <option value="1">Price Low - High</option>
        </select>
        <select id="rate" class="filter-btn">
          <option value="">Rating</option>
          <option value="-1">Rating High - Low</option>
          <option value="1">Rating Low - High</option>
        </select>
        <select id="saleNumber" class="filter-btn">
          <option value="">Sales Volume</option>
          <option value="-1">Sales Volume High - Low</option>
          <option value="1">Sales Volume Low - High</option>
        </select>
      </div>

      <div class="filter">
        <label>Filter:</label>
        <select id="categories" class="filter-btn">
          <option value="">Product Type</option>
          <option value="skincare">Skincare</option>
          <option value="makeup">Makeup</option>
        </select>
        <select id="brand" class="filter-btn">
          <option value="">Brand</option>
        </select>
        <button id="clear-sort-filter" style="display: none">Clear Filter</button>
      </div>
    </div>

    <button class="create-btn" id="create-btn">
      <i class="fi fi-rr-plus"></i>
      <span>Add Product</span>
    </button>
  </div>
  <div class="table">
    {{> exportFileButton}}
    <table class="all-items">
      <thead>
        <tr>
          <td style="width:  5%">No.     </td>
          <td style="width: 10%">Brand    </td>
          <td style="width: 30%">Name     </td>
          <td style="width: 15%">Old Price  </td>
          <td style="width: 15%">Current Price </td>
          <td style="width: 10%">Stock </td>
          <td style="width: 15%">Action</td>
        </tr>
      </thead>

      <tbody>
        {{#each (holderData 10)}}
        <tr>
          <td></td>
          <td></td>
          <td></td>  
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <div id="id01" class="modal">
      <form class="modal-content">
        <div class="container">
          <p><strong>Xoá sản phẩm ?</strong></p>
          <p id="confirm-message"></p>
          <div class="clearfix">
            <button id="delete-button" type="button" class="deletebtn">Xoá</button>
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Huỷ</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <span class="pagination"></span>
</div>

<div class="admin-create-product-container" id="create-modal">
  <div id="form">
    <div class="form-title">
      <p>Add New Product</p>
    </div>

    <div class="form-group">
      <label></label>
      <select name="categories">
        <option value="">-- Select Product Line --</option>
        <option value="skincare">Skincare</option>
        <option value="makeup">Makeup</option>
      </select>
    </div>

    <div class="form-group" style="display: none;">
      <label></label>
      <select name="skincare">
        <option value="">-- Skincare --</option>
        <option value="xit-khoang">Facial Mist</option>
        <option value="mat-na">Face Mask</option>
        <option value="serum">Serum</option>
        <option value="bha">BHA</option>
        <option value="tay-da-chet">Exfoliant</option>
        <option value="duong-da">Skincare</option>
        <option value="toner">Toner</option>
        <option value="nuoc-tay-trang">Makeup Remover</option>
        <option value="cham-mun">Acne Spot Treatment</option>
        <option value="kem-duong-am">Moisturizer</option>
        <option value="sua-rua-mat">Facial Cleanser</option>
      </select>
    </div>

    <div class="form-group" style="display: none;">
      <label></label>
      <select name="makeup">
        <option value="">-- Makeup --</option>
        <option value="phan-ma">Blush</option>
        <option value="mascara">Mascara</option>
        <option value="ke-mat">Eyeliner</option>
        <option value="kem-chong-nang">Sunscreen</option>
        <option value="che-khuyet-diem">Concealer</option>
        <option value="son">Lipstick</option>
      </select>
    </div>

    <div class="form-group">
      <label></label>
      <select id="brand" name="brand">
        <option value="">-- Select Brand --</option>
        {{#each brands}}
        <option value="{{this.name}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label for="name">Product Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="e.g. HYDRA B5 MAX SERUM PRETTYSKIN">
    </div>

    <div class="form-group">
      <label for="purchasePrice">Purchase Price</label>
      <input type="text" class="form-control" id="purchasePrice" name="purchasePrice" placeholder="e.g. 1,000,000">
    </div>

    <div class="form-group">
      <label for="oldPrice">Product Price (Old)</label>
      <input type="text" class="form-control" id="oldPrice" name="oldPrice" placeholder="e.g. 1,000,000">
    </div>

    <div class="form-group">
      <label for="price">Product Price (New)</label>
      <input type="text" class="form-control" id="price" name="price" placeholder="e.g. 250,000">
    </div>

    <div class="form-group">
      <label for="description">Product Description</label>
      <input type="text" class="form-control" id="description" name="description" placeholder="e.g. HYDRA B5 MAX SERUM PRETTYSKIN">
    </div>

    <div class="form-group">
      <label for="details">Product Details</label>
      <input type="text" class="form-control" id="details" name="details" placeholder="e.g. Deep moisturizing with Hyaluronic Acid...">
    </div>

    <div class="form-group">
      <label for="guide">Usage Instructions</label>
      <input type="text" class="form-control" id="guide" name="guide" placeholder="e.g. Step 1: Clean your face with a gentle cleanser...">
    </div>
    
    <div class="form-group">
      <label for="quantity">Quantity</label>
      <input type="text" class="form-control" id="quantity" name="quantity" placeholder="e.g. 100">
    </div>

    <div class="form-group">
      <label></label>
      <select name="status">
        <option value="">-- Product Status --</option>
        <option value="normal">Normal</option>
        <option value="flash-sale">Flash Sale</option>
        <option value="hot">Hot</option>
        <option value="new-arrival">New Arrival</option>
      </select>
    </div>

    <div class="form-group">
      <label>Product Image</label>
      <input type="file" name="img" id="img"/>
    </div>

    <div class="submit-button">
      <button class="close-modal">Close</button>
      <button type="submit">Complete</button>
    </div>
  </div>
</div>

<div class="product-details-container" id="detail-modal">
  <div id="form">
    <table id="table-1">
      <thead>
        <tr><td colspan="2">PRODUCT INFORMATION</td></tr>
      </thead>
      <tr>
        <td>Product ID</td>
        <td><input type="text" id="id" disabled></td>
      <tr>
      <tr>
        <td>Product Type</td>
        <td>
          <select name="categories" id="categories">
            <option value="skincare">Skincare</option>
            <option value="makeup">Makeup</option>
          </select>
          <select name="skincare" id="skincare" style="display: none">
            <option value="xit-khoang">Xịt Khoáng</option>
            <option value="mat-na">Mặt Nạ</option>
            <option value="serum">Serum</option>
            <option value="bha">BHA</option>
            <option value="tay-da-chet">Tẩy Da Chết</option>
            <option value="duong-da">Dưỡng Da</option>  
            <option value="toner">Toner</option>
            <option value="nuoc-tay-trang">Nước Tẩy Trang</option>
            <option value="cham-mun">Chấm Mụn</option>
            <option value="kem-duong-am">Kem Dưỡng Ẩm</option>
            <option value="sua-rua-mat">Sữa Rửa Mặt</option>
          </select>
          <select name="makeup" id="makeup" style="display: none">
            <option value="phan-ma">Phấn Má</option>
            <option value="mascara">Mascara</option>
            <option value="ke-mat">Kẻ Mắt</option>
            <option value="kem-chong-nang">Kem Chống Nắng</option>
            <option value="che-khuyet-diem">Che Khuyết Điểm</option>
            <option value="son">Son</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Brand</td>
        <td><select name="brand" id="brand"></select></td>
      <tr>
        <td>Tên</td>
        <td><input type="text" id="name"></td>
      </tr>
      <tr>
        <td>Purchase Price</td>
        <td><input type="text" id="purchasePrice"></td>
      </tr>
      <tr>
        <td>Old Price</td>
        <td><input type="text" id="oldPrice"></td>
      </tr>
      <tr>
        <td>New Price</td>
        <td><input type="text" id="price"></td>
      </tr>
      <tr>
        <td>Description</td>
        <td><input type="text" id="description"></td>
      </tr>
      <tr>
        <td>Details</td>
        <td><input type="text" id="details"></td>
      </tr>
      <tr>
        <td>Usage Guide</td>
        <td><input type="text" id="guide"></td>
      </tr>
      <tr>
        <td>Quantity</td>
        <td><input type="text" id="quantity"></td>
      </tr>
      <tr>
        <td>Rating</td>
        <td><input type="text" id="rate" disabled></td>
      </tr>
      <tr>
        <td>Sales Count</td>
        <td><input type="text" id="saleNumber" disabled></td>
      </tr>
      <tr>
        <td>Rating Count</td>
        <td><input type="text" id="rateNumber" disabled></td>
      </tr>
      <tr>
        <td>Product Status</td>
        <td><select name="status" id="status"></select></td>
      </tr>
      <tr>
        <td>Product Image</td>
        <td>
          <img src="" alt="loading" id="image">
          <input type="file" name="img" id="img"/>
        </td>
      </tr>
    </table>

    <div class="submit-button">
      <button class="close-modal">Close</button>
      <button type="submit">Update</button>
    </div>
  </div>
</div>

<form style="display: none;" name="delete-form" method="post"></form>

<script type="module" src="/js/admin/all/product.js"></script>