<div class="admin-all-purchases-container">  
  <div class="header">
    <div class="board-title">
      <p>Purchase Order: </p>
    </div>

    <div class="date-filter">
      <input type="date" id="start-date">
      <input type="date" id="end-date">
      <button title="submit" type="submit">View</button>
    </div>
  </div>

  <div class="control-bar">
    <div class="search">
      <select id="search-type" class="search-btn">
        <option value="">Search by</option>
        <option value="_id" selected>ID</option>
        <option value="supplierId">Supplier Code</option>
      </select>
      <input type="text" id="search-input" name="name" placeholder="Search purchase order" />
    </div>

    <div class="sort-filter">
      <div class="sort">
        <label>Sort by:</label>
        <select id="purchaseDate" class="filter-btn">
          <option value="">Order Date</option>
          <option value="1">Newest Date</option>
          <option value="-1">Oldest Date</option>
        </select>
        <select id="totalPurchasePrice" class="filter-btn">
          <option value="">Value</option>
          <option value="1">Value High - Low</option>
          <option value="-1">Value Low - High</option>
        </select>
      </div>

      <div class="filter">
        <button id="clear-sort-filter" style="display: none">Clear Filter</button>
      </div>
    </div>

    <a href="/admin/all-purchases/purchase/create" target="_blank" rel="noopener noreferrer" class="create-btn" id="create-btn">
      <i class="fi fi-rr-plus"></i>
      <span>Add Purchase Order</span>
    </a>
  </div>

  <div class="table">
    {{> exportFileButton}}
    <table class="all-items">
      <thead>
        <tr>
          <td style="width:  5%">No.          </td>
          <td style="width: 20%">Purchase Order Code  </td>
          <td style="width: 25%">Import Date    </td>
          <td style="width: 15%">Total Items</td>
          <td style="width: 25%">Total Cost </td>
          <td style="width: 10%">Details     </td>
          </td>
        </tr>
      </thead>

      <tbody>
        {{#each (holderData 10)}}
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <span class="pagination"></span>
</div>

<script type="module" src="/js/admin/all/purchase.js"></script>