<div class="admin-all-suppliers-container">  
  <div class="header">
    <div class="board-title">
      <p>Supplier:</p>
    </div>

    {{> dateFilter}}
  </div>

  <div class="control-bar">
    <div class="search">
      <input type="text" id="search-input" data-id="name" name="name" placeholder="Search supplier" />
    </div>

    <div class="sort-filter">
      <div class="sort">
        <label>Sort by:</label>
        <select id="quantity" class="filter-btn">
          <option value="">Total Orders</option>
          <option value="1">Total Orders High - Low</option>
          <option value="-1">Total Orders Low - High</option>
        </select>
        <select id="totalCost" class="filter-btn">
          <option value="">Total Cost</option>
          <option value="1">Cost High - Low</option>
          <option value="-1">Cost Low - High</option>
        </select>
      </div>

      <div class="filter">
        <label>Filter:</label>
        <select id="revenue" class="filter-btn">
          <option value="">Revenue</option>
        </select>
        <button id="clear-sort-filter" style="display: none">Clear Filter</button>
      </div>
    </div>

    <button class="create-btn" id="create-btn">
      <i class="fi fi-rr-plus"></i>
      <span>Add Supplier</span>
    </button>
  </div>

  <div class="table">
    {{> exportFileButton}}
    <table class="all-items">
      <thead>
        <tr>
          <td style="width:  5%">No.              </td>
          <td style="width: 15%">Supplier Code  </td>
          <td style="width: 20%">Supplier Name </td>
          <td style="width: 20%">Address          </td>
          <td style="width: 15%">Total Orders    </td>
          <td style="width: 15%">Total Cost     </td>
          <td style="width: 10%">Details         </td>
        </tr>
      </thead>

      <tbody>
        {{#each (holderData 10)}}
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          {{/each}}
      </tbody>
    </table>
  </div>

  <span class="pagination"></span>
</div>

<div class="admin-create-supplier-container" id="create-modal">
  <div id="form">
    <div class="form-title">
      <p>Add New Supplier</p>
    </div>

    <div class="form-group">
      <label for="name">Supplier Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Enter supplier name">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
    </div>

    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter phone number">
    </div>

    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" name="address" placeholder="Enter address">
    </div>

    <div class="submit-button">
      <button class="close-modal">Close</button>
      <button type="submit">Complete</button>
    </div>
  </div>
</div>

<div class="supplier-details-container" id="detail-modal">
  <div id="form">
    <table id="table-1">
      <thead>
        <tr><td colspan="2">SUPPLIER INFORMATION</td></tr>
      </thead>
      <tr>
        <td>Supplier Code</td>
        <td><input type="text" id="id" disabled></td>
      </tr>
      <tr>
        <td>Supplier Name</td>
        <td><input type="text" id="name"></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><input type="text" id="email" disabled></td>
      </tr>
      <tr>
        <td>Phone</td>
        <td><input type="text" id="phone"></td>
      </tr>
      <tr>
        <td>Address</td>
        <td><input type="text" id="address"></td>
      </tr>
      <tr>
        <td>Total Purchase Orders</td>
        <td><input type="text" id="quantity" disabled></td>
      </tr>
      <tr>
        <td>Total Cost</td>
        <td><input type="text" id="totalCost" disabled></td>
      </tr>
    </table>

    <table id="table-2">
      <thead>
        <tr><td colspan="5">PURCHASE ORDER LIST</td></tr>
      </thead>
      <thead>
        <tr>
          <td style="width:  5%">No.       </td>
          <td style="width: 35%">Total Price </td>
          <td style="width: 25%">Import Date </td>
          <td style="width: 10%">Details  </td>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <div class="submit-button">
      <button class="close-modal">Close</button>
      <button type="submit">Update</button>
    </div>
  </div>
</div>

<div class="purchase-details-container" id="detail-modal">
  <div id="form">
    
    <table id="table-1">
      <thead>
        <tr><td colspan="2">PURCHASE ORDER INFORMATION</td></tr>
      </thead>
      <tr>
        <td>Purchase Order Code</td>
        <td><input type="text" name="id" disabled></td>
      </tr>
      <tr>
        <td>Supplier Code</td>
        <td><input type="text" name="supplierId" disabled></td>
      </tr>
      <tr>
        <td>Purchase Date</td>
        <td><input type="text" name="purchaseDate" disabled></td>
      </tr>
      <tr>
        <td>Total Items</td>
        <td><input type="text" name="items" disabled></td>
      </tr>
      <tr>
        <td>Total Cost</td>
        <td><input type="text" id="totalPurchasePrice" name="totalPurchasePrice" disabled></td>
      </tr>
    </table>

    <div class="submit-button">
      <button class="close-modal">Close</button>
      <button type="submit">Update</button>
    </div>
  </div>
</div>

<script type="module" src="/js/admin/all/supplier.js"></script>