<div class="admin-trash-products-container">
  <div class="board-title">
    <p>đã xoá</p>
  </div>

  <div class="table">
    <table class="all-items">
      <thead>
        <tr>
          <td style="width:  5%">STT     </td>
          <td style="width: 15%">Hãng    </td>
          <td style="width: 30%">Tên     </td>
          <td style="width: 15%">Loại    </td>
          <td style="width: 15%">Giá     </td>
          <td style="width: 20%"></td>
        </tr>
      </thead>

      <tbody>
        {{#each (holderData 10)}}
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <div id="id00" class="modal">
      <form class="modal-content">
        <div class="container">
          <p>Bạn có muốn khôi phục sản phẩm {{this.name}} không</p>
          <div class="clearfix">
            <button type="button" onclick="document.getElementById('id00').style.display='none'" class="cancelbtn">Huỷ</button>
            <button id="restore-button" type="button" class="deletebtn">Khôi phục</button>
          </div>
        </div>
      </form>
    </div>

    <div id="id01" class="modal">
      <form class="modal-content">
        <div class="container">
          <p>Bạn có muốn xoá sản phẩm {{this.name}} vĩnh viễn không</p>
          <div class="clearfix">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Huỷ</button>
            <button id="delete-button" type="button" class="deletebtn">Xoá vĩnh viễn</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <span class="pagination"></span>
</div>

<form style="display: none" name="delete-form" method="post"></form>
<form style="display: none" name="restore-form" method="get"></form>

<script src="/js/admin/all/trash.js"></script>