<div class="admin-all-voucher-container">  
  <div class="header">
    <div class="board-title">
      <p>Voucher: </p>
    </div>

    {{> dateFilter}}
  </div>

  <div class="control-bar">
    <div class="search">
      <select id="search-type" class="search-btn">
        <option value="">Search by</option>
        <option value="_id" selected>ID</option>
        <option value="userId">Customer Code</option>
        <option value="code">Voucher Code</option>
      </select>
      <input type="text" id="search-input" name="name" placeholder="Search voucher" />
    </div>

    <div class="sort-filter">
      <div class="sort">
        <label>Sort by:</label>
        <select id="discount" class="filter-btn">
          <option value="">Discount Level</option>
          <option value="1">Discount Level High - Low</option>
          <option value="-1">Discount Level Low - High</option>
        </select>
        <select id="startDate" class="filter-btn">
          <option value="">Created Date</option>
          <option value="1">Newest Created Date</option>
          <option value="-1">Oldest Created Date</option>
        </select>
        <select id="endDate" class="filter-btn">
          <option value="">Expiration Date</option>
          <option value="-1">Newest Expiration Date</option>
          <option value="1">Oldest Expiration Date</option>
        </select>
      </div>

      <div class="filter">
        <label>Filter:</label>
        <select id="status" class="filter-btn">
          <option value="">Status</option>
          <option value="active">Valid</option>
          <option value="end">Expired</option>
          <option value="used">Used</option>
        </select>
        <select id="voucherType" class="filter-btn">
          <option value="">Voucher Type</option>
          <option value="birthday">Birthday Voucher</option>
          <option value="order">Order Voucher</option>
        </select>
        <button id="clear-sort-filter" style="display: none">Clear Filter</button>
      </div>
    </div>

    <button class="create-btn" id="create-btn">
      <i class="fi fi-rr-plus"></i>
      <span>Add Voucher</span>
    </button>
  </div>

  <div class="table">
    {{> exportFileButton}}
    <table class="all-items">
      <thead>
        <tr>
          <td style="width:  5%">No.           </td>
          <td style="width: 15%">Voucher Code    </td>
          <td style="width: 20%">Voucher Type  </td>
          <td style="width: 25%">Discount Level</td>
          <td style="width: 25%">Expiration Date </td>
          <td style="width: 10%">Details      </td>
        </tr>
      </thead>

      <tbody>
        {{#each (holderData 10)}}
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <span class="pagination"></span>
</div>

<div class="admin-create-voucher-container" id="create-modal">
  <div id="form">
    <div class="form-title">
      <p>Add New Voucher</p>
    </div>

    <div class="form-group">
      <label for="name">Voucher Name *</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="VD: Giảm giá 20%">
    </div>

    <div class="form-group">
      <label for="description">Description *</label>
      <input type="text" class="form-control" id="description" name="description" placeholder="VD: Giảm giá 20% cho đơn hàng từ 1.000.000">
    </div>

    <div class="form-group">
      <label for="discount">Discount Percentage*</label>
      <input type="text" class="form-control" id="discount" name="discount" placeholder="VD: 1.000.000">
    </div>

    <div class="form-group">
      <label for="maxDiscount">Maximum Discount Value *</label>
      <input type="text" class="form-control" id="maxDiscount" name="maxDiscount" placeholder="VD: 1.000.000">
    </div>

    <div class="form-group">
      <label for="minOrder">Applicable Order Value *</label>
      <input type="text" class="form-control" id="minOrder" name="minOrder" placeholder="VD: 1.000.000">
    </div>

    <div class="form-group">
      <label for="start-date">Start Date*</label>
      <input type="date" id="start-date">
    </div>

    <div class="form-group">
      <label for="end-date">End Date*</label>
      <input type="date" id="end-date">
    </div>

    <div class="submit-button">
      <button class="close-modal">Close</button>
      <button type="submit">Complete</button>
    </div>
  </div>
</div>

<div class="voucher-details-container" id="detail-modal">
  <div id="form">
    
    <table id="table-1">
      <thead>
        <tr><td colspan="2">VOUCHER INFORMATION</td></tr>
      </thead>
      <tr>
        <td>User Code</td>
        <td><input type="text" name="userId" disabled></td>
      </tr>
      <tr>
        <td>Order Code</td>
        <td><input type="text" name="orderId" disabled></td>
      </tr>
      <tr>
        <td>Voucher Code</td>
        <td><input type="text" name="code" disabled></td>
      </tr>
      <tr>
        <td>Description</td>
        <td><input type="text" name="description" disabled></td>
      </tr>
      <tr>
        <td>Voucher Type</td>
        <td>
          <select name="voucherType" name="voucherType" disabled>
            <option value="order">Order Voucher</option>
            <option value="birthday">Birthday Voucher</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Discount Level</td>
        <td><input type="text" name="discount" disabled></td>
      </tr>
      <tr>
        <td>Order Value</td>
        <td><input type="text" name="minOrder" disabled></td>
      </tr>
      <tr>
        <td>Status</td>
        <td>
          <select name="status" name="status">
            <option value="active">Valid</option>
            <option value="used">Used</option>
            <option value="end">Expired</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Start Date</td>
        <td><input type="date" name="startDate"></td>
      </tr>
      <tr>
        <td>End Date</td>
        <td><input type="date" name="endDate"></td>
      </tr>
      <tr>
        <td>Date Used</td>
        <td><input type="date" name="usedAt" disabled></td>
      </tr>
    </table>

    <div class="submit-button">
      <button class="close-modal">Close</button>
      <button type="submit">Update</button>
    </div>
  </div>
</div>

<script type="module" src="/js/admin/all/userVoucher.js"></script>