<div class="admin-all-voucher-container">  
  <div class="header">
    <div class="board-title">
      <p>Voucher: </p>
    </div>

    <div class="date-filter">
      <input type="date" id="start-date">
      <input type="date" id="end-date">
      <button title="submit" type="submit">View</button>
    </div>
  </div>

  <div class="control-bar">
    <div class="search">
      <select id="search-type" class="search-btn">
        <option value="">Search by</option>
        <option value="_id" selected>ID</option>
        <option value="userId">Customer Code</option>
        <option value="code">Voucher Code</option>
      </select>
      <input type="text" id="search-input" name="name" placeholder="Search voucher" />
    </div>

    <div class="sort-filter">
      <div class="sort">
        <label>Sort by:</label>
        <select id="discount" class="filter-btn">
          <option value="">Discount Level</option>
          <option value="1">Discount Level High - Low</option>
          <option value="-1">Discount Level Low - High</option>
        </select>
        <select id="startDate" class="filter-btn">
          <option value="">Created Date</option>
          <option value="1">Newest Created Date</option>
          <option value="-1">Oldest Created Date</option>
        </select>
        <select id="endDate" class="filter-btn">
          <option value="">Expiration Date</option>
          <option value="-1">Newest Expiration Date</option>
          <option value="1">Oldest Expiration Date</option>
        </select>
      </div>

      <div class="filter">
        <label>Filter:</label>
        <select id="status" class="filter-btn">
          <option value="">Status</option>
          <option value="active">Valid</option>
          <option value="end">Expired</option>
          <option value="used">Used</option>
        </select>
        <select id="voucherType" class="filter-btn">
          <option value="">Voucher Type</option>
          <option value="birthday">Birthday Voucher</option>
          <option value="order">Order Voucher</option>
        </select>
        <button id="clear-sort-filter" style="display: none">Clear Filter</button>
      </div>
    </div>

    <a href="/admin/all-u-vouchers/voucher/create" target="_blank" rel="noopener noreferrer" class="create-btn" id="create-btn">
      <i class="fi fi-rr-plus"></i>
      <span>Add Voucher</span>
    </a>
  </div>

  <div class="table">
    {{> exportFileButton}}
    <table class="all-items">
      <thead>
        <tr>
          <td style="width:  5%">No.           </td>
          <td style="width: 15%">Voucher Code    </td>
          <td style="width: 20%">Voucher Type  </td>
          <td style="width: 25%">Discount Level</td>
          <td style="width: 25%">Expiration Date </td>
          <td style="width: 10%">Details      </td>
        </tr>
      </thead>

      <tbody>
        {{#each (holderData 10)}}
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <span class="pagination"></span>
</div>

<script type="module" src="/js/admin/all/userVoucher.js"></script>