<div class="admin-all-voucher-container">  
  <div class="header">
    <div class="board-title">
      <p>Voucher: </p>
    </div>

    <div class="date-filter">
      <input type="date" id="start-date">
      <input type="date" id="end-date">
      <button title="submit" type="submit">Xem</button>
    </div>
  </div>

  <div class="control-bar">
    <div class="search">
      <input type="text" id="search-input" name="name" placeholder="Search voucher" />
    </div>

    <div class="sort-filter">
      <div class="sort">
        <label>Sắp xếp:</label>
        <select id="discount" class="filter-btn">
          <option value="">Chiết khấu</option>
          <option value="1">Chiết khấu cao - thấp</option>
          <option value="-1">Chiết khấu thấp - cao</option>
        </select>
        <select id="startDate" class="filter-btn">
          <option value="">Ngày tạo</option>
          <option value="1">Ngày tạo mới nhất</option>
          <option value="-1">Ngày tạo xa nhất</option>
        </select>
        <select id="endDate" class="filter-btn">
          <option value="">Ngày hết hạn</option>
          <option value="-1">Ngày hết hạn mới nhất</option>
          <option value="1">Ngày hết hạn xa nhất</option>
        </select>
      </div>

      <div class="filter">
        <label>Lọc:</label>
        <select id="status" class="filter-btn">
          <option value="">Tình trạng</option>
          <option value="active">Còn hạn</option>
          <option value="end">Hết hạn</option>
        </select>
        <select id="memberCode" class="filter-btn">
          <option value="">Hạng thành viên</option>
        </select>
        <button id="clear-sort-filter" style="display: none">Xoá bộ lọc</button>
      </div>
    </div>

    <a href="/admin/all-vouchers/voucher/create" target="_blank" rel="noopener noreferrer" class="create-btn" id="create-btn">
      <i class="fi fi-rr-plus"></i>
      <span>Thêm Voucher</span>
    </a>
  </div>

  <div class="table">
    {{> exportFileButton}}
    <table class="all-items">
      <thead>
        <tr>
          <td style="width:  5%">STT           </td>
          <td style="width: 15%">Mã Voucher    </td>
          <td style="width: 20%">Tên Voucher   </td>
          <td style="width: 25%">Mức chiết khấu</td>
          <td style="width: 25%">Ngày kết thúc </td>
          <td style="width: 10%">Chi tiết      </td>
        </tr>
      </thead>

      <tbody>
        {{#each (holderData 10)}}
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <span class="pagination"></span>
</div>

<script type="module" src="/js/admin/all/voucher.js"></script>