<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="I6NmnMAS5Resm_EUWaaHtPiaXpCoJyPcG77zdvu1hNo"/>
  <meta name="description" content="BEAUTÉ">
  <link rel="icon" type="image/svg+xml" href="https://res.cloudinary.com/bunny-store/image/upload/v1763438302/web-img/Thi%E1%BA%BFt_k%E1%BA%BF_ch%C6%B0a_c%C3%B3_t%C3%AAn_zd0z3o.svg" />
  <link rel="stylesheet" href="/css/layouts/template.css">
  <link rel="stylesheet" href="/css/user/responsive.css">
  <link rel="stylesheet" href="/css/user/body.css">
  <link rel="stylesheet" href="/css/partials/header.css">
  <link rel="stylesheet" href="/css/partials/headerBottom.css">
  <link rel="stylesheet" href="/css/partials/fixedComponents.css">
  <link rel="stylesheet" href="/css/partials/footer.css" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.7/themes/odometer-theme-default.css" integrity="sha512-kMPqFnKueEwgQFzXLEEl671aHhQqrZLS5IP3HzqdfozaST/EgU+/wkM07JCmXFAt9GO810I//8DBonsJUzGQsQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.7/odometer.min.js" integrity="sha512-v3fZyWIk7kh9yGNQZf1SnSjIxjAKsYbg6UQ+B+QxAZqJQLrN3jMjrdNwcxV6tis6S0s1xyVDZrDz9UoRLfRpWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/layouts/users.js"></script>
  <script src="/js/helpers/importLinkCss.js"></script>
  <script src="/js/helpers/checkInput.js"></script>
  <script src="/js/helpers/pushNotification.js"></script>
  <script src="/js/helpers/sortAndFilter.js"></script>
  <script src="/js/helpers/format.js"></script>
  {{!-- <script src="/js/helpers/getLog.js"></script> --}}


{{!-- import the new tracking script --}}
  <script src="/js/helpers/getLog.js"></script>  
  <script src="/js/user/tracking.js"></script>
{{!-- end of new imports  --}}

  <title>{{title}}</title>
</head>
<body>
  <div class="preloader">
    <div class="loading"></div>
    <h3 style="color: #389845;"></h3>
  </div>
  <header>{{> userHeader}}</header>
  <main>{{{body}}}</main>
  <div>{{> fixedComponents}}</div>
  <footer>{{> userFooter}}</footer>
  <headerBottom style="display: none;">{{> userHeaderBottom}}</headerBottom>
</body>
</html>

<script src="https://unpkg.com/popper.js@1"></script>
<script src="https://unpkg.com/tippy.js@5"></script>
<script src="/js/tippy.js"></script>