.scroll-to-top-icon, .contact-icon, .chat-icon, .chatbot-icon {
  display: inline-block;
  margin-left: auto;
  margin-right: 0;
  right: 5px;
  position: fixed;
  z-index: 999;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  animation: ring 1.5s infinite;
  i { font-size: 50px; color: #389845 };
}
.scroll-to-top-icon {bottom: 130px}
.chatbot-icon {bottom: 70px}
.chat-icon {bottom: 10px}
.chat-box, .ai-chat-box {
  background-color: white;
  width: 300px;
  height: 400px;
  margin-left: auto;
  margin-right: 0;
  bottom: 5px;
  right: 60px;
  border-radius: 10px;
  position: fixed;
  z-index: 999;
  .chat-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    top: 0;
    height: 50px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
    i { color: #389845;}
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      img {
        border-radius: 50%;
        width: 35px;
        aspect-ratio: 1/1;
      }
    }
    .minimize {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
    }
    .minimize:hover {background-color: #ffffff19}
  }
  .chat-body, .not-logged-in {
    height: 350px;
  }
  .not-logged-in {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .chat-content {
    height: 300px;
    overflow-y: scroll;
    box-sizing: border-box;
    width: 100%;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    padding: 10px;
    li {
      border-radius: 10px;
      padding: 10px;
      list-style: none;
      margin-top: 5px;
      max-width: 200px;
      width: fit-content;
      word-wrap: break-word;
      display: block;
      clear: both;
      float: left;
    }
    .right-content {
      float: right;
      background-color: #389845;
      color: white;
    }
    .left-content {
      float: left;
      background-color: #f0f0f0
    }
    .right-date, .left-date {
      font-size: 12px;
      color: #888;
      margin-top: 2px;
      padding: 0 5px;
      list-style: none;
      clear: both;
      width: fit-content;
      max-width: 200px;
    }
    .right-date {
      float: right;
      text-align: right;
      margin-right: 5px;
    }
    .left-date {
      float: left;
      text-align: left;
      margin-left: 5px;
    }
  }
  .chat-content::-webkit-scrollbar-track {
    background: white;
  }
  .input-form {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    gap: 5px;
    textarea {
      width: 80%;
      height: 40px;
      padding: 0 5px;
      border-radius: 10px;
      border: 1px solid #389845;
      word-wrap: break-word;
      resize: none;
      box-sizing: border-box;
      padding: 10px 5px 0 5px;
      font-family: 'Roboto', sans-serif;
    }
    textarea:focus {
      outline: 1px solid #389845;
    }
    .send-btn {
      width: 20%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #389845;
      border-radius: 10px;
      color: white;
      cursor: pointer;
    }
    .send-btn.not-allowed {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
@keyframes ring {
  0% {rotate: 10deg}
  50% {rotate: -10deg}
  100% {rotate: 10deg}
}
@media screen and (max-width: 800px) {
  .scroll-to-top-icon {bottom: 135px}
  .chat-icon {bottom: 75px}
  .chat-box {bottom: 75px;}
}