headerBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  z-index: 999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s;
  .store-logo {
    padding: 0 10px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    img { width: 40px; height: 40px }
  };
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-right: 20px;
  }
  #search-input {
    position: absolute;
    bottom: 75px;
    width: 95%;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-style: none;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #search-products {
    position: absolute;
    bottom: 130px;
    width: 95%;
    height: 300px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 10px;
    overflow-y: scroll;
    box-sizing: border-box;
    border: 1px solid #389845;
    .product {
      width: 100%;
      box-sizing: border-box;
      background-color: white;
      border-radius: 10px;
      padding: 10px;
      height: 75px;
      display: flex;
      align-items: center;
      cursor: pointer;
      a {
        text-decoration: none;
        color: #575757;
        width: 85% !important;
      }
      p { width: 15% !important;}
      img { width: 40px; height: 40px;}
    }
  }
  #search-products::-webkit-scrollbar {display: none}
  .header-button {
    padding: 0 20px 0 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    .orders {
      text-decoration: none;
      position: relative;
      display: inline-block;
      padding-right: 10px;
      .orders-quantity {
        position: absolute;
        top: -5px;
        right: 5px;
        padding: 5px 10px;
        border-radius: 50%;
        background-color: #389845;
        color: white;
      }
    }
    a {
      text-decoration: none;
      color: #575757;
    }
    i {
      font-size: 40px;
      cursor: pointer;
      padding: 10px;
    }
    img {
      border-radius: 50%;
      width: 40px;
      aspect-ratio: 1/1;
      border: 2px solid black;
      cursor: pointer;
    }
  }
  .avatar-menu {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    width: max-content;
    right: 20px;
    bottom: 75px;
    z-index: 5;
    padding: 5px;
    gap: 5px;
    a {
      padding: 10px;
      display: flex; 
      justify-content: space-between;
      cursor: pointer;
      align-items: center;
      text-decoration: none;
      color: #575757;
      margin-block-start: 0;
      margin-block-end: 0;
      border-radius: 5px;
    };
    a:hover { 
      color: white;
      background-color: #5ab868;
      i { color: white } 
    }
  }
  .header-title, .dropdown-title {
    display: flex; 
    gap: 10px; 
    align-items: center; 
    padding: 0 15px 0;
    height: 100%;
    margin-top: 0;
    cursor: pointer;
    a, p {
      text-decoration: none;
      font-weight: bolder;
      color: #575757;
      font-size: medium;
      cursor: pointer;
      width: 100%;
      padding: 15px;
      box-sizing: border-box;
      border-radius: 10px;
    }
  }
  .header-title:hover, .dropdown-title:hover {
    a, p {
      color: white;
      background-color: #389845;
    } 
  }
  .dropdown {
    display: inline-block;
    height: 100%;
    ul {
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
      border-radius: 5px;
      background-color: white;
      margin-block-start: 0;
      margin-block-end: 0;
      list-style: none;
      padding-inline-start: 0;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      display: grid;
      opacity: 0;
      transform: translateY(10px);
      pointer-events: none;
      transition: opacity 0.2s ease-in, transform 0.2s ease-in;
    };
    li {
      width: 200px;
      height: 60px;
      padding: 5px;
    }
    span {
      display: flex; 
      justify-content: space-between;
      align-items: center;
      text-decoration: none;
      color:#575757;
      padding: 10px;
      border-radius: 5px;
      height: 40px;
    }
    span:hover {
      color: white;
      background-color: #389845;
      i, a { color: white } 
    }
    ul > li > ul {
      position: absolute;
      bottom: 0;
      width: calc(100% - 210px);
      left: 210px;
      display: grid;
      justify-content: start;
    }
    img {
      width: 40px;
      aspect-ratio: 1/1;
      border-radius: 50%;
    }
    a {
      display: flex; 
      justify-content: space-between;
      align-items: center;
      text-decoration: none;
      color:#575757;
      padding: 10px;
      border-radius: 5px;
      height: 40px;
    }
    a:hover { 
      color: white;
      background-color: #389845;
      i { color: white } 
    }
  }
  .dropdown:hover {
    ul {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    };
    ul > li > ul {
      display: none
    }
    li:hover {
      ul {
        display: grid
      }
    }
  };
}