.detail-product-container {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0;
  gap: 20px;
  .table {
    width: 95%;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .image-box {
      display: flex;
      align-items: center;
      width: 50%;
      height: 100%;
      .image {
        border-radius: 5px;
        width: 400px;
        aspect-ratio: 1/1;
        margin-left: 20px;
        img {
          max-width: 100%;
          aspect-ratio: 1/1;
          border-radius: 5px;
        }
      }
    }
    .details-box {
      width: 50%;
      height: 100%;
      margin: 10px;
      .product-title {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 5px;
        h1, h3, h4, h5 {
          width: fit-content;
          margin-block-start: 0;
          margin-block-end: 0;
          padding: 5px 0;
        }
        h1 {
          color: #c73030;
        }
        #price, #quantity {
          background-color: #5ab868;
          padding: 5px;
          width: fit-content;
          border-radius: 5px;
          color: white;
        }
      }
      .description {
        width: 100%;
        height: 40%;
        text-overflow: ellipsis; 
        overflow: hidden;
        word-wrap: break-word;
      }
      .quantity {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 90%;
        gap: 10px;
        padding: 5px 10px;
        margin-bottom: 5px;
        p {
          margin-block-start: 0px;
          margin-block-end: 0px;
          border: 1px solid #389845;
          padding: 10px
        };
        i { cursor: pointer }
      }
      .button {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 5px;
        a { text-decoration: none }
        .add-to-cart, .buy-now, .out-of-order {
          display: flex;
          align-items: center;
          justify-content: center;
          width: fit-content;
          height: 30px;
          border-radius: 5px;
          padding: 15px;
        };
        .add-to-cart, .buy-now {
          border: 1px solid #389845;
          position: relative;
          width: 100px;
          height: 30px;
          p, a { 
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: #389845; 
            text-decoration: none; 
            font-weight: bold; 
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-block-start: 0;
            margin-block-end: 0;
          }
        }
        .out-of-order {
          display: none;
          background-color: red;
          color: white;
        }
        div:hover {
          cursor: pointer;
        }
      }
    }
  }
  .more-details {
    width: 95%;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    white-space: pre-line;
    padding: 0 15px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    h3 {
      padding: 5px;
      margin-block-start: 0;
      margin-block-end: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .rating-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
    i {color: orange;};
    .rating-score {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      h1 {
        font-size: xx-large;
        color: #389845;
      }
    }
    .rating-detail-score {
      width: 70%;
      div {
        display: flex;
        align-items: center;
        gap: 5px;
        #rating-border, #rating-progress {
          display: inline-block;
          border-radius: 99px;
          height: 15px;
        }
        #rating-border { width: 50%; background-color: #eee};
      }
    }
  }
  .comment-box {
    padding: 5px;
    box-sizing: border-box;
    .comment {
      border-radius: 10px;
      padding: 5px;
      box-sizing: border-box;
      white-space: normal;
      p {
        margin-block-start: 0;
        margin-block-end: 0;
        padding: 5px;
      }
      #sender {
        background-color: #5ab868;
        color: white;
        padding: 10px;
        border-radius: 5px;
        box-sizing: border-box;
        width: fit-content;
        font-weight: bold;
      }
      #rate {
        padding: 5px;
      }
      i {
        color: orange;
      }
    }
  }
  .related-products {
    width: 95%;
    overflow: hidden;
    .products {padding: 5px 0;}
  }
  .loading {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    z-index: 2;
    animation: flicker 1s infinite;
  }
}