<div class="admin-create-brand-container">
  <div id="form">
    <div class="form-title">
      <p>Add New Brand</p>
    </div>

    <div class="form-group">
      <label for="name">Brand Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="VD: Obagi">
    </div>

    <div class="form-group">
      <label for="description">Brand Description</label>
      <input type="text" class="form-control" id="description" name="description" placeholder="VD: Obagi - dược mỹ phẩm hàng đầu trong việc điều trị ...">
    </div>

    <div class="form-group">
      <label for="details">Brand Details</label>
      <input type="text" class="form-control" id="details" name="details" placeholder="VD: Obagi là thương hiệu mỹ phẩm nổi tiếng của Mỹ, được các chuyên gia da liễu khuyên dùng ">
    </div>

    <div class="form-group">
      <label>Ảnh thương hiệu</label>
      <input type="file" name="img" id="img"/>
    </div>

    <div class="submit-button"><button title="submit" type="submit">Complete</button></div>
  </div>
</div>

<script src="/js/admin/create/brand.js"></script>