<div class="admin-create-customer-container">
  <div id="form">
    <div class="form-title">
      <p>Thêm khách hàng mới</p>
    </div>

    <div class="form-group">
      <label for="name">Họ tên</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="VD: Mai Hồng Vũ">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email" placeholder="VD: mhv@gmail.com">
    </div>

    <div class="form-group">
      <label for="phone">Số điện thoại</label>
      <input type="text" class="form-control" id="phone" name="phone" placeholder="VD: 0987654321">
    </div>

    <div class="form-group">
      <label for="address">Địa chỉ</label>
      <input type="text" class="form-control" id="address" name="address" placeholder="VD: Hà Nội">
    </div>

    <div class="form-group">
      <label for="password">Mật Khẩu</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Aa"> 
    </div>

    <div class="form-group">
      <label for="password-confirm">Xác Nhận Mật Khẩu</label>
      <input type="password" class="form-control" id="password-confirm" name="password-confirm" placeholder="Aa">
    </div>

    <div class="submit-button"><button title="submit" type="submit">Hoàn thành</button></div>
  </div>
</div>

<script src="/js/admin/create/customer.js"></script>