<div class="admin-create-product-container">
  <div id="form">
    <div class="form-title">
      <p>Thêm nguyên liệu mới</p>
    </div>

    <div class="form-group">
      <label></label>
      <select name="supplier">
        <option value="">-- Chọn NCC --</option>
        {{#each suppliers}}
        <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label for="code">Mã nguyên liệu</label>
      <input type="text" class="form-control" id="code" name="code" placeholder="VD: NL01">
    </div>
    
    <div class="form-group">
      <label for="name">Tên nguyên liệu</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="VD: Nước cất">
    </div>

    <div class="form-group">
      <label for="category">Phân loại</label>
      <input type="text" class="form-control" id="category" name="category" placeholder="VD: Dung môi">
    </div>

    <div class="form-group">
      <label for="unit">Đvt</label>
      <input type="text" class="form-control" id="unit" name="unit" placeholder="VD: Lít">
    </div>

    <div class="form-group">
      <label for="quantity">Số lượng</label>
      <input type="text" class="form-control" id="quantity" name="quantity" placeholder="VD: 100">
    </div>

    <div class="form-group">
      <label for="price">Giá nguyên liệu</label>
      <input type="text" class="form-control" id="price" name="price" placeholder="VD: 250.000">
    </div>
    
    <div class="form-group">
      <label for="description">Mô tả chi tiết</label>
      <input type="text" class="form-control" id="description" name="description" placeholder="VD: Dùng làm dung môi pha chế mỹ phẩm">
    </div>
    
    <div class="form-group">
      <label for="certifications">Chứng nhận</label>
      <input type="text" class="form-control" id="certifications" name="certifications" placeholder="VD: ISO 9001">
    </div>
    
    <div class="form-group">
      <label for="expiry_date">Ngày hết hạn</label>
      <input type="date" class="form-control" id="expiry_date" name="expiry_date">
    </div>

    <div class="submit-button"><button title="submit" type="submit">Hoàn thành</button></div>
  </div>
</div>

<script src="/js/admin/create/material.js"></script>