<div class="admin-create-order-container">
  <div id="form">
    <div class="form-title">
      <p>Thêm đơn hàng mới</p>
    </div>
    <div class="form-group">
      <label for="orderDate">Ngày bán *</label>
      <input type="date" id="orderDate" name="orderDate" required>
    </div>
    <div class="form-group">
      <label for="userId">Chọn khách hàng</label>
      <select name="userId" id="userId" required>
        <option value="" selected disabled>-- Khách hàng --</option>
      </select>
    </div>
    <div class="form-group">
      <label for="paymentMethod">Chọn phương thức thanh toán</label>
      <select name="paymentMethod" id="paymentMethod" required>
        <option value="" selected disabled>-- Phương thức thanh toán --</option>
      </select>
    </div>
    <div class="form-group">
      <label for="note">Ghi chú</label>
      <input type="text" id="note" name="note">
    </div>
    <div class="form-group">
      <label>Chọn sản phẩm</label>
      <input type="text"  id="product-search" placeholder="Nhập tên sản phẩm">
    </div>
    <div class="products-match"></div>

    <table>
      <thead>
        <tr>
          <td style="width:  5%;">STT</td>
          <td style="width: 40%;">Sản Phẩm</td>
          <td style="width: 15%; text-align:right">Đơn Giá</td>
          <td style="width: 10%;">Số Lượng</td>
          <td style="width: 15%; text-align:right">Tổng Tiền</td>
          <td style="width: 10%;"></td>
        </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td style="text-align: right">0</td>
        <td></td>
      </tfoot>
    </table>  

    <div class="submit-button"><button title="submit" type="submit">Hoàn thành</button></div>
  </div>
</div>

<script src="/js/admin/create/order.js"></script>