<div class="admin-create-product-container">
  <div id="form">
    <div class="form-title">
      <p>Thêm sản phẩm mới</p>
    </div>

    <div class="form-group">
      <label></label>
      <select name="categories">
        <option value="">-- Chọn dòng Sản Phẩm --</option>
        <option value="skincare">Skincare</option>
        <option value="makeup">Makeup</option>
      </select>
    </div>

    <div class="form-group" style="display: none;">
      <label></label>
      <select name="skincare">
        <option value="">-- Skincare --</option>
        <option value="xit-khoang">Xịt Khoáng</option>
        <option value="mat-na">Mặt Nạ</option>
        <option value="serum">Serum</option>
        <option value="bha">BHA</option>
        <option value="tay-da-chet">Tẩy Da Chết</option>
        <option value="duong-da">Dưỡng Da</option>  
        <option value="toner">Toner</option>
        <option value="nuoc-tay-trang">Nước Tẩy Trang</option>
        <option value="cham-mun">Chấm Mụn</option>
        <option value="kem-duong-am">Kem Dưỡng Ẩm</option>
        <option value="sua-rua-mat">Sữa Rửa Mặt</option>
      </select>
    </div>

    <div class="form-group" style="display: none;">
      <label></label>
      <select name="makeup">
        <option value="">-- Makeup --</option>
        <option value="phan-ma">Phấn Má</option>
        <option value="mascara">Mascara</option>
        <option value="ke-mat">Kẻ Mắt</option>
        <option value="kem-chong-nang">Kem Chống Nắng</option>
        <option value="che-khuyet-diem">Che Khuyết Điểm</option>
        <option value="son">Son</option>
      </select>
    </div>

    <div class="form-group">
      <label></label>
      <select name="brand">
        <option value="">-- Chọn hãng --</option>
        {{#each brands}}
        <option value="{{this.name}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label for="name">Tên sản phẩm</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="VD: TINH CHẤT PHỤC HỒI, DƯỠNG TRẮNG HYDRA B5 MAX SERUM PRETTYSKIN">
    </div>

    <div class="form-group">
      <label for="oldPrice">Giá sản phẩm (cũ)</label>
      <input type="text" class="form-control" id="oldPrice" name="oldPrice" placeholder="VD: 1.000.000">
    </div>

    <div class="form-group">
      <label for="price">Giá sản phẩm (mới)</label>
      <input type="text" class="form-control" id="price" name="price" placeholder="VD: 250.000">
    </div>

    <div class="form-group">
      <label for="description">Mô tả sản phẩm</label>
      <input type="text" class="form-control" id="description" name="description" placeholder="VD: TINH CHẤT PHỤC HỒI, DƯỠNG TRẮNG HYDRA B5 MAX SERUM PRETTYSKIN">
    </div>

    <div class="form-group">
      <label for="details">Chi tiết sản phẩm</label>
      <input type="text" class="form-control" id="details" name="details" placeholder="VD: Dưỡng ẩm chuyên sâu với axit Hyaluronic: Axit Hyaluronic giúp bổ sung độ ẩm...">
    </div>
    
    <div class="form-group">
      <label for="guide">Hướng dẫn sử dụng</label>
      <input type="text" class="form-control" id="guide" name="guide" placeholder="VD: Bước 1: Làm sạch daDùng sữa rửa mặt nhẹ nhàng phù hợp để làm sạch sâu lỗ chân lông, giúp tinh chất dễ dàng thẩm thấu....">
    </div>

    <div class="form-group">
      <label></label>
      <select name="status">
        <option value="">-- Tình Trạng Sản Phẩm --</option>
        <option value="no">Bình thường</option>
        <option value="flash-sale">Flash Sale</option>
        <option value="hot">Hot</option>
        <option value="new-arrival">Mới về</option>
      </select>
    </div>

    <div class="form-group">
      <label>Ảnh Sản Phẩm</label>
      <input type="file" name="img" id="img"/>
    </div>

    <div class="submit-button"><button title="submit" type="submit">Hoàn thành</button></div>
  </div>
</div>

<script src="/js/admin/create/product.js"></script>