<div class="admin-create-store-container">
  <div id="form">
    <div class="form-title">
      <p>Thêm đại lý mới</p>
    </div>

    <div class="form-group">
      <label for="name">Tên đại lý *</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="VD: Bunny House Thanh Xuân">
    </div>

    <div class="form-group">
      <label for="address">Địa chỉ đại lý *</label>
      <input type="text" class="form-control" id="address" name="address" placeholder="VD: Thanh Xuân, Hà Nội">
    </div>

    <div class="form-group">
      <label for="details">Thông tin đại lý *</label>
      <input type="text" class="form-control" id="details" name="details" placeholder="VD: đại lý to, rộng rãi với 500m2">
    </div>

    <div class="submit-button"><button title="submit" type="submit">Hoàn thành</button></div>
  </div>
</div>

<script src="/js/admin/create/store.js"></script>