<div class="admin-create-voucher-container">
  <div id="form">
    <div class="form-title">
      <p>Add New Voucher</p>
    </div>

    <div class="form-group">
      <label for="name">Voucher Name *</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="VD: Giảm giá 20%">
    </div>

    <div class="form-group">
      <label for="description">Description *</label>
      <input type="text" class="form-control" id="description" name="description" placeholder="VD: Giảm giá 20% cho đơn hàng từ 1.000.000">
    </div>

    <div class="form-group">
      <label></label>
      <select name="memberCode" id="memberCode">
        <option value="" selected disabled>-- Select Member Tier --</option>
      </select>
    </div>

    <div class="form-group">
      <label for="discount">Discount Percentage (%) *</label>
      <input type="text" class="form-control" id="discount" name="discount" placeholder="VD: 1.000.000">
    </div>

    <div class="form-group">
      <label for="maxDiscount">Maximum Discount Value *</label>
      <input type="text" class="form-control" id="maxDiscount" name="maxDiscount" placeholder="VD: 1.000.000">
    </div>

    <div class="form-group">
      <label for="minOrder">Applicable Order Value *</label>
      <input type="text" class="form-control" id="minOrder" name="minOrder" placeholder="VD: 1.000.000">
    </div>

    <div class="form-group">
      <label for="start-date">Start Date*</label>
      <input type="date" id="start-date">
    </div>

    <div class="form-group">
      <label for="end-date">End Date*</label>
      <input type="date" id="end-date">
    </div>

    <div class="submit-button"><button title="submit" type="submit">Complete</button></div>
  </div>
</div>

<script src="/js/admin/create/voucher.js"></script>