<div class="admin-attribute-container">
  <div class="table"><div class="membership"></div></div> 
  <div class="table"><div class="order-status"></div></div>
  <div class="table"><div class="payment-method"></div></div>
  <div class="table"><div class="position"></div></div> 
  <div class="table"><div class="product-status"></div></div>
</div>

<script src="/js/admin/attribute.js"></script>