<div class="profile-details-container">
  <div id="form">
    <table id="table-1">
      <thead>
        <tr><td colspan="2">EMPLOYEE INFORMATION</td></tr>
      </thead>
      <tr>
        <td>Employee Code</td>
        <td><input type="text" id="id" disabled></td>
      </tr>
      <tr>
        <td>Employee Name</td>
        <td><input type="text" id="name"></td>
      </tr>
      <tr>
        <td>Position</td>
        <td><select name="role" id="role" disabled></select></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><input type="text" id="email" name="email" disabled></td>
      </tr>
      <tr>
        <td>Phone</td>
        <td><input type="text" id="phone" name="phone"></td>
      </tr>
      <tr>
        <td>Address</td>
        <td><input type="text" id="address" name="address"></td>
      </tr>
      <tr>
        <td>Gender</td>
        <td>
          <input type="radio" name="gender" id="male" value="male">Male
          <input type="radio" name="gender" id="female" value="female">Female
        </td>
      </tr>
      <tr>
        <td>Date Started</td>
        <td><input type="text" id="date" name="date" disabled></td>
      </tr>
    </table>
    
    <div class="submit-button"><button title="submit" type="submit">Update</button></div>
  </div>
</div>   

<script src="/js/admin/profile.js"></script>