<div class="reset-password-container">
  <form id="form-5">
    <h1>Enter Your Email to Receive Confirmation Code</h1>
    <div class="input">
      <input type="text" placeholder="Enter email here" name="email">
    </div>
    <div class="button">
      <button class="submit-email">Confirm Email</button>
    </div>
    <span class="message"></span>
  </form>
</div>

<script src="/js/admin/resetPassword.js"></script>