<div class="sign-in-container">
  <div class="sign-in-form">
    <img src="https://res.cloudinary.com/bunny-store/image/upload/v1763438302/web-img/Thi%E1%BA%BFt_k%E1%BA%BF_ch%C6%B0a_c%C3%B3_t%C3%AAn_zd0z3o.svg" alt="Logo" />
    <div class="form">
      <p class="form-title">Employee Sign In</p>
      <form id="form-1">
        <div class="form-group">
          <input type="email" class="form-control" id="email" name="email" placeholder="Email">
          <span class="form-message"></span>
        </div>

        <div class="form-group">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
          <span class="form-message"></span>
        </div>

        <div class="form-group">
          <p class="wrong-info"></p> 
          <a href="/authentication/reset-password" class="forgot-password">Forgot Password?</a>
        </div>

        <div class="form-action">
          <button title="submit" type="submit">Sign In</button>
        </div>
      </form>
    </div>
    <a href="/authentication/sign-in" class="emp-sign-in"></a>
  </div>
</div>

<script type="module" src="/js/admin/signIn.js"></script>