<div class="sign-in-container">
  <div class="sign-in-form">
    <img src="https://res.cloudinary.com/bunny-store/image/upload/v1763436423/web-img/BEAUT%C3%89_feczpr.svg" alt="Logo" />
    <div class="form">
      <p class="form-title">Đăng nhập nhân viên</p>
      <form id="form-1">
        <div class="form-group">
          <input type="email" class="form-control" id="email" name="email" placeholder="Email">
          <span class="form-message"></span>
        </div>

        <div class="form-group">
          <input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu">
          <span class="form-message"></span>
        </div>

        <div class="form-group">
          <p class="wrong-info"></p> 
          <a href="/authentication/reset-password" class="forgot-password">Quên mật khẩu ?</a>
        </div>

        <div class="form-action">
          <button title="submit" type="submit">Đăng nhập</button>
        </div>
      </form>
    </div>
    <a href="/authentication/sign-in" class="emp-sign-in"></a>
  </div>
</div>

<script type="module" src="/js/admin/signIn.js"></script>