<div class="advanced-search-container">
    <div class="checking">
        <h1>Enter Product Information to Search</h1>
        <select id="search-type" class="search-btn">
            <option value="">Search by</option>
            <option value="_id" selected>ID</option>
            <option value="name">Name</option>
            <option value="email">Email</option>
            <option value="phone">Phone Number</option>
            <option value="address">Address</option>
        </select>
        <input type="text" id="search-input" placeholder="Search customer">
         <div class="button">
            <button type="submit">Check</button>
        </div>
    </div>
</div>

<script type="module" src="/js/user/advancedSearch.js"></script>