<div class="advanced-search-container">
    <div class="checking">
        <h1>Hãy Nhập Thông Tin Sản Phẩm Để Tìm Kiếm Nha !</h1>
        <select id="search-type" class="search-btn">
            <option value="">Tìm kiếm theo</option>
            <option value="_id" selected>ID</option>
            <option value="name">Tên</option>
            <option value="email">Email</option>
            <option value="phone">Số điện thoại</option>
            <option value="address">Địa chỉ</option>
        </select>
        <input type="text" id="search-input" placeholder="Tìm kiếm khách hàng">
         <div class="button">
            <button type="submit">Kiểm Tra</button>
        </div>
    </div>
</div>

<script type="module" src="/js/user/advancedSearch.js"></script>