<div class="user-all-products-container">
  <div class="title">
    <i class="fi fi-sr-flame"></i>
    <div class="main-title"><b>Toàn bộ sản phẩm</b></div>
  </div>

  <div class="products-wrapper">
    <div class="sidebar">
      <div class="categories">
        <div class="category-header">
          <label>Danh mục</label>
          <i class="fi fi-rr-angle-down toggle-icon"></i>
        </div>
        <div class="category-content">
          <div class="all-category-skincare">
            <div class="category-section-title">Skincare</div>
            <ul>
              <li><a href="/all-products/skincare/xit-khoang">Xịt khoáng</a></label></input></li>
              <li><a href="/all-products/skincare/mat-na">Mặt nạ</a></label></input></li>
              <li><a href="/all-products/skincare/serum">Serum</a></label></input></li>
              <li><a href="/all-products/skincare/bha">BHA</a></label></input></li>
              <li><a href="/all-products/skincare/tay-da-chet">Tẩy da chết</a></label></input></li>
              <li><a href="/all-products/skincare/duong-da">Dưỡng da</a></label></input></li>
              <li><a href="/all-products/skincare/toner">Toner</a></label></input></li>
              <li><a href="/all-products/skincare/nuoc-tay-trang">Nước tẩy trang</a></label></input></li>
              <li><a href="/all-products/skincare/cham-mun">Chấm mụn</a></label></input></li>
              <li><a href="/all-products/skincare/kem-duong-am">Kem dưỡng ẩm</a></label></input></li>
              <li><a href="/all-products/skincare/sua-rua-mat">Sữa rửa mặt</a></label></input></li>
            </ul>   
          </div>
          <div class="all-category-makeup">
            <div class="category-section-title">Makeup</div>
            <ul>
              <li><a href="/all-products/makeup/phan-ma">Phấn má</a></label></input></li>
              <li><a href="/all-products/makeup/mascara">Mascara</a></label></input></li>
              <li><a href="/all-products/makeup/ke-mat">Kẻ mắt</a></label></input></li>
              <li><a href="/all-products/makeup/kem-chong-nang">Kem chống nắng</a></label></input></li>
              <li><a href="/all-products/makeup/che-khuyet-diem">Che khuyết điểm</a></label></input></li>
              <li><a href="/all-products/makeup/son">Son</a></label></input></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="sort">
        <div id="sort-type">
          <label for="price">Mức giá</label>
          <select id="price" class="filter-btn">
            <option value="0">Mặc định</option>
            <option value="1">Thấp - Cao</option>
            <option value="-1">Cao - Thấp</option>
          </select>
        </div>
        
        <div id="sort-type">
          <label for="rate">Kết quả đánh giá</label>
          <select id="rate" class="filter-btn">
            <option value="0">Mặc định</option>
            <option value="1">Thấp - Cao</option>
            <option value="-1">Cao - Thấp</option>
          </select>
        </div>

        <div id="sort-type">
          <label for="saleNumber">Lượng bán</label>
          <select id="saleNumber" class="filter-btn">
            <option value="0">Mặc định</option>
            <option value="1">Thấp - Cao</option>
            <option value="-1">Cao - Thấp</option>
          </select>
        </div>

        <button id="clear-sort" style="display: none">Xoá sắp xếp</button>
      </div>

      <div class="filter">
        <label>Khoảng giá:</label>
        <div class="range-slide">
          <div class="slide">
            <div class="line" id="line" style="left: 0%; right: 0%;"></div>
            <span class="thumb" id="thumbMin" style="left: 0%;"></span>
            <span class="thumb" id="thumbMax" style="left: 100%;"></span>
          </div>
          <input id="rangeMin" type="range" max="1000000" min="10000" step="5" value="10000">
          <input id="rangeMax" type="range" max="1000000" min="10000" step="5" value="1000000">
        </div>
        <div class="display">
          <span id="min">10.000 VND</span>
          <span id="m-m"></span>
          <span id="max">1.000.000 VND</span>
        </div>

        <button id="submit-filter">Chọn</button>
        <button id="clear-filter" style="display: none">Xoá bộ lọc</button>
      </div>
    </div>

    <div class="products-section">
      <div class="products">
        {{#each (holderData 10)}}
          {{> product}}
        {{/each}}
      </div>

      <span class="pagination"></span>
    </div>
  </div>
</div>

<script src="/js/user/allProducts.js" async></script>