<div class="user-all-products-container">
  <div class="title">
    <i class="fi fi-sr-flame"></i>
    <div class="main-title"><b>All Products</b></div>
  </div>

  <div class="products-wrapper">
    <div class="sidebar">
      <div class="categories">
        <div class="category-header">
          <label>Categories</label>
          <i class="fi fi-rr-angle-down toggle-icon"></i>
        </div>
        <div class="category-content">
          <div class="all-category-skincare">
            <div class="category-section-title">Skincare</div>
            <ul>
              <li><a href="/all-products/subcategories/xit-khoang">Mineral Mist</a></label></input></li>
              <li><a href="/all-products/subcategories/mat-na">Mask</a></label></input></li>
              <li><a href="/all-products/subcategories/serum">Serum</a></label></input></li>
              <li><a href="/all-products/subcategories/bha">BHA</a></label></input></li>
              <li><a href="/all-products/subcategories/tay-da-chet">Exfoliator</a></label></input></li>
              <li><a href="/all-products/subcategories/duong-da">Moisturizer</a></label></input></li>
              <li><a href="/all-products/subcategories/toner">Toner</a></label></input></li>
              <li><a href="/all-products/subcategories/nuoc-tay-trang">Cleansing Water</a></label></input></li>
              <li><a href="/all-products/subcategories/cham-mun">Spot Treatment</a></label></input></li>
              <li><a href="/all-products/subcategories/kem-duong-am">Moisturizing Cream</a></label></input></li>
              <li><a href="/all-products/subcategories/sua-rua-mat">Facial Cleanser</a></label></input></li>
            </ul>   
          </div>
          <div class="all-category-makeup">
            <div class="category-section-title">Makeup</div>
            <ul>
              <li><a href="/all-products/subcategories/phan-ma">Blush</a></label></input></li>
              <li><a href="/all-products/subcategories/mascara">Mascara</a></label></input></li>
              <li><a href="/all-products/subcategories/ke-mat">Eyeliner</a></label></input></li>
              <li><a href="/all-products/subcategories/kem-chong-nang">Sunscreen</a></label></input></li>
              <li><a href="/all-products/subcategories/che-khuyet-diem">Concealer</a></label></input></li>
              <li><a href="/all-products/subcategories/son">Lipstick</a></label></input></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="sort">
        <div id="sort-type">
          <label for="price">Price</label>
          <select id="price" class="filter-btn">
            <option value="0">Default</option>
            <option value="1">Low - High</option>
            <option value="-1">High - Low</option>
          </select>
        </div>
        
        <div id="sort-type">
          <label for="rate">Rating</label>
          <select id="rate" class="filter-btn">
            <option value="0">Default</option>
            <option value="1">Low - High</option>
            <option value="-1">High - Low</option>
          </select>
        </div>

        <div id="sort-type">
          <label for="saleNumber">Sales Volume</label>
          <select id="saleNumber" class="filter-btn">
            <option value="0">Default</option>
            <option value="1">Low - High</option>
            <option value="-1">High - Low</option>
          </select>
        </div>

        <button id="clear-sort" style="display: none">Clear Sort</button>
      </div>

      <div class="filter">
        <label>Price Range:</label>
        <div class="range-slide">
          <div class="slide">
            <div class="line" id="line" style="left: 0%; right: 0%;"></div>
            <span class="thumb" id="thumbMin" style="left: 0%;"></span>
            <span class="thumb" id="thumbMax" style="left: 100%;"></span>
          </div>
          <input id="rangeMin" type="range" max="1000000" min="10000" step="5" value="10000">
          <input id="rangeMax" type="range" max="1000000" min="10000" step="5" value="1000000">
        </div>
        <div class="display">
          <span id="min">10,000 VND</span>
          <span id="m-m"></span>
          <span id="max">1,000,000 VND</span>
        </div>

        <button id="submit-filter">Apply</button>
        <button id="clear-filter" style="display: none">Clear Filter</button>
      </div>
    </div>

    <div class="products-section">
      <div class="products">
        {{#each (holderData 10)}}
          {{> product}}
        {{/each}}
      </div>

      <span class="pagination"></span>
    </div>
  </div>
</div>

<script src="/js/user/allProducts.js" async></script>