<div class="detail-voucher-container">
   <table>
      <thead>
        <tr><td colspan="2"> Thông tin voucher </td></tr>
      </thead>
      <tr>
        <td>Mã Voucher </td><td id="code"></td>
      </tr>
      <tr>
        <td>Tên Voucher </td><td id="name"></td>
      </tr>
      <tr>
        <td>Mô tả </td><td id="description"></td>
      </tr>
      <tr>
        <td>Hạng thành viên </td><td id="memberCode"></td>
      </tr>
      <tr>
        <td>Mức giảm giá </td><td id="discount"></td>
      </tr>
      <tr>
        <td>Mức giảm tối đa </td><td id="maxDiscount"></td>
      </tr>
      <tr>
        <td>Đơn hàng tối thiểu </td><td id="minOrder"></td>
      </tr>
      <tr>
        <td>Trạng thái </td><td id="status"></td>
      </tr>
      <tr>
        <td>Ngày bắt đầu </td><td id="startDate"></td>
      </tr>
      <tr>
        <td>Ngày kết thúc </td><td id="endDate"></td>
      </tr>
   </table>
</div>

<script src="/js/user/detailVoucher.js"></script>