<div class="detail-voucher-container">
   <table>
      <thead>
        <tr><td colspan="2"> Voucher Information </td></tr>
      </thead>
      <tr>
        <td>Voucher Code </td><td id="code"></td>
      </tr>
      <tr>
        <td>Description </td><td id="description"></td>
      </tr>
      <tr>
        <td>Voucher Type </td><td id="voucherType"></td>
      </tr>
      <tr>
        <td>Discount Level </td><td id="discount"></td>
      </tr>
      <tr>
        <td>Minimum Order </td><td id="minOrder"></td>
      </tr>
      <tr>
        <td>Status </td><td id="status"></td>
      </tr>
      <tr>
        <td>Start Date </td><td id="startDate"></td>
      </tr>
      <tr>
        <td>End Date </td><td id="endDate"></td>
      </tr>
   </table>
</div>

<script src="/js/user/detailUserVoucher.js"></script>