<div class="detail-order-container">
   <table>
      <thead>
        <tr><td colspan="2"> Thông tin chung </td></tr>
      </thead>
      <tr>
        <td>Mã Đơn Hàng </td><td id="id"></td>
      </tr>
      <tr>
        <td>Ngày Đặt Hàng </td><td id="date"></td>
      </tr>
      <tr>
        <td>Tên Khách Hàng </td><td id="name"></td>
      </tr>
      <tr>
        <td>Số Điện Thoại </td><td id="phone"></td>
      </tr>
      <tr>
        <td>Địa Chỉ Nhận Hàng </td><td id="address"></td>
      </tr>
      <tr>
        <td>Ghi Chú </td><td id="note"></td>
      </tr>
      <tr>
        <td>Tổng Tiền </td><td id="total-price"></td>
      </tr>
      <tr>
        <td>Tổng Tiền Sau Giảm Giá</td><td id="total-new-price"></td>
      </tr>
      <tr>
        <td>Phương thức thanh toán</td><td id="payment-method"></td>
      </tr>
      <tr>
        <td>Trạng Thái Đơn Hàng </td><td id="status"></td>
      </tr>
      <tr>
        <td>Trạng thái thanh toán </td><td id="isPaid"></td>
      </tr>
   </table>

  <table class="all-products">
    <thead>
      <tr>
        <td>Sản Phẩm</td>
        <td>Đơn Giá </td>
        <td>S/L     </td>
        <td>Tổng    </td>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>

<script src="/js/user/detailOrder.js"></script>