<div class="detail-product-container">
  <div class="table">
    <div class="loading"></div>
    <div class="image-box">
      <div class="image"><img loading="lazy"/></div>
    </div>
    
    <div class="details-box">
      <div class="product-title">
        <p id="product-rate">
          <span id="rate-score"></span>/5
          <i class="fi fi-ss-star"></i>
          <i class="fi fi-ss-star"></i>
          <i class="fi fi-ss-star"></i>
          <i class="fi fi-ss-star"></i>
          <i class="fi fi-ss-star"></i>
        </p>
        <h3 id="brand"></h3>
        <h1 id="name"></h1>
        <del><h4 id="old-price"></h4></del>
        <h3 id="price"></h3>
        <h4 id="quantity"></h4>
        <h5 id="sale-number"></h5>
      </div>
      
      <div class="description">
        <p id="description"></p>
      </div>

      <div class="quantity">
        <i class="fi fi-rr-minus-circle"></i>
        <p></p>
        <i class="fi fi-rr-add"></i>
      </div>

      <div class="button">
        <div class="add-to-cart"><p>Thêm Vào Giỏ</p></div>
        <div class="buy-now"><a href="/all-orders">Mua Ngay</a></div>
        <div class="out-of-order"><p>Hết Hàng</p></div>
      </div>
    </div>
  </div>

  <div class="more-details">
    <div class="loading"></div>
    <h3>THÔNG TIN SẢN PHẨM</h3>
    <p id="details">{{productInfo.details}}</p>
  </div>
  
  <div class="more-details">
    <div class="loading"></div>
    <h3>HƯỚNG DẪN SỬ DỤNG</h3>
    <p id="guide">{{productInfo.guide}}</p>
  </div>

  <div class="more-details">
    <div class="loading"></div>
    <h3>ĐÁNH GIÁ SẢN PHẨM</h3>
    <div class="rating-box">
      <div class="rating-score">
        <i class="fi fi-ss-star"></i><h1>{{productInfo.rate}}</h1>
      </div>
      <div class="rating-detail-score">
        <div>1<i class="fi fi-ss-star"></i><span id="rating-border"><span id="rating-progress"></span></span><span id="rating-percent">0</span>% | <span id="rating-num">0</span> đánh giá</div>
        <div>2<i class="fi fi-ss-star"></i><span id="rating-border"><span id="rating-progress"></span></span><span id="rating-percent">0</span>% | <span id="rating-num">0</span> đánh giá</div>
        <div>3<i class="fi fi-ss-star"></i><span id="rating-border"><span id="rating-progress"></span></span><span id="rating-percent">0</span>% | <span id="rating-num">0</span> đánh giá</div>
        <div>4<i class="fi fi-ss-star"></i><span id="rating-border"><span id="rating-progress"></span></span><span id="rating-percent">0</span>% | <span id="rating-num">0</span> đánh giá</div>
        <div>5<i class="fi fi-ss-star"></i><span id="rating-border"><span id="rating-progress"></span></span><span id="rating-percent">0</span>% | <span id="rating-num">0</span> đánh giá</div>
      </div>
    </div>
  </div>
  
  <div class="more-details">
    <div class="loading"></div>
    <h3>BÌNH LUẬN SẢN PHẨM</h3>
    <div class="comment-box">
      {{#each holderComments}}
        <div class="comment">
          <p id="sender"></p>
          <p><span id="rate"></span><i class="fi fi-ss-star"></i> </p>
          <p id="comment"></p>
        </div>
      {{/each}}
    </div>
  </div>

  <div class="related-products">
    <div class="title"><span class="main-title"><b>SẢN PHẨM TƯƠNG ỨNG</b></span></div>

    <div class="products">
    {{#each holderRelatedProducts}}
      {{> product}}
    {{/each}}
  </div>
  </div>
</div>

<script src='/js/user/detailProduct.js'></script>