<div class="detail-order-container">
   <table>
      <thead>
        <tr><td colspan="2"> General Information </td></tr>
      </thead>
      <tr>
        <td>Order Code </td><td id="id"></td>
      </tr>
      <tr>
        <td>Order Date </td><td id="date"></td>
      </tr>
      <tr>
        <td>Customer Name </td><td id="name"></td>
      </tr>
      <tr>
        <td>Phone Number </td><td id="phone"></td>
      </tr>
      <tr>
        <td>Delivery Address </td><td id="address"></td>
      </tr>
      <tr>
        <td>Notes </td><td id="note"></td>
      </tr>
      <tr>
        <td>Total Price </td><td id="total-price"></td>
      </tr>
      <tr>
        <td>Total After Discount</td><td id="total-new-price"></td>
      </tr>
      <tr>
        <td>Payment Method</td><td id="payment-method"></td>
      </tr>
      <tr>
        <td>Order Status </td><td id="status"></td>
      </tr>
      <tr>
        <td>Payment Status </td><td id="isPaid"></td>
      </tr>
   </table>

  <table class="all-products">
    <thead>
      <tr>
        <td>Product</td>
        <td>Unit Price </td>
        <td>S/L     </td>
        <td>Tổng    </td>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>

<script src="/js/user/detailOrder.js"></script>