<div class="advertise-board">
  {{> userAdvertise}}
</div>

<div class="vouchers-board" id="voucher" style="display: none;">
  <div class="title">
    <div><a href="/" class="main-title"><b>EXCLUSIVE VOUCHERS FOR YOU</b></a></div>
    <p class="subtitle">Discover special offers just for you</p>
  </div>
  
  <div class="vouchers">
    {{#each (holderData 5)}}
      {{> voucher}}
    {{/each}}
  </div>
  
  <a href="/" class="view-all-btn">View All Vouchers</a>
</div>

<div class="products-board" id="favorite" style="display: none;">
  <div class="title">
    <div><a href="/all-products" class="main-title"><b>PRODUCTS YOU MAY LIKE</b></a></div>
    <p class="subtitle">Great choices tailored to your style</p>
  </div>

  <div class="products">
    {{#each (holderData 10)}}
      {{> product}}
    {{/each}}
  </div>
  
  <a href="/all-products" class="view-all-btn">View All Products</a>
</div>

<div class="flash-deal-board" id="flash-deal">
  <div class="title">
    <div><a href="/all-products/status/flash-sale" class="main-title"><b>FLASH DEAL PRODUCTS</b></a></div>
    <p class="subtitle">Limited time deals - Don't miss out!</p>
  </div>
  
  <div class="products">
    {{#each (holderData 5)}}
      {{> product}}
    {{/each}}
  </div>
  
  <a href="/all-products/status/flash-sale" class="view-all-btn">View All Flash Deals</a>
</div>

<div class="products-board" id="top-sale">
  <div class="title">
    <div><a href="/all-products?saleNumber=-1" class="main-title"><b>TOP SELLING PRODUCTS</b></a></div>
    <p class="subtitle">Loved by thousands of customers</p>
  </div>
  
  <div class="products">
    {{#each (holderData 5)}}
      {{> product}}
    {{/each}}
  </div>
  
  <a href="/all-products?saleNumber=-1" class="view-all-btn">View All Top Sales</a>
</div>

<div class="products-board" id="hot-sale">
  <div class="title">
    <div><a href="/all-products/status/hot" class="main-title"><b>HOT PRODUCTS</b></a></div>
    <p class="subtitle">The trendiest products right now</p>
  </div>
  
  <div class="products">
    {{#each (holderData 5)}}
      {{> product}}
    {{/each}}
  </div>
  
  <a href="/all-products/status/hot" class="view-all-btn">View All Hot Products</a>
</div>

<div class="products-board" id="skincare">
  <div class="title">
    <div><a href="/all-products/categories/skincare" class="main-title"><b>SKINCARE PRODUCTS</b></a></div>
    <p class="subtitle">Proper skincare for healthy skin</p>
  </div>
  
  <div class="products">
    {{#each (holderData 5)}}
      {{> product}}
    {{/each}}
  </div>
  
  <a href="/all-products/categories/skincare" class="view-all-btn">View All Skincare</a>
</div>

<div class="products-board" id="makeup">
  <div class="title">
    <div><a href="/all-products/categories/makeup" class="main-title"><b>MAKEUP PRODUCTS</b></a></div>
    <p class="subtitle">Color your life with quality makeup</p>
  </div>
  
  <div class="products">
    {{#each (holderData 5)}}
      {{> product}}
    {{/each}}
  </div>
  
  <a href="/all-products/categories/makeup" class="view-all-btn">View All Makeup</a>
</div>

<div class="products-board" id="all">
  <div class="title">
    <div><a href="/all-products" class="main-title"><b>ALL PRODUCTS</b></a></div>
    <p class="subtitle">Explore our complete collection</p>
  </div>

  <div class="products">
    {{#each (holderData 5)}}
      {{> product}}
    {{/each}}
  </div>
  
  <a href="/all-products" class="view-all-btn">View All Products</a>
</div>

<div class="famous-brand-board" id="brand">
  <div class="title">
    <div><a href="/all-brands" class="main-title"><b>FEATURED BRANDS</b></a></div>
    <p class="subtitle">Brands we're proud to feature</p>
  </div>

  <div class="brands">
    <div class="inner">
      {{#each (holderData 15)}}
      <a class="brand">
        <img loading="lazy">
      </a>
      {{/each}}
    </div>
    <div class="fade"></div>
  </div>
  
  <a href="/all-brands" class="view-all-btn">View All Brands</a>
</div>

<script src="/js/user/home.js"></script>