<div class="advertise-board">
  {{> userAdvertise}}
</div>

<div class="vouchers-board" id="voucher" style="display: none;">
  <div class="title" data-tippy-content="Voucher dành riêng cho bạn">
    <i class="fi fi-sr-bolt"></i>
    <div><a href="/" class="main-title"><b>VOUCHER DÀNH RIÊNG CHO BẠN</b></a></div>
  </div>
  
  <div class="vouchers">
    {{#each (holderData 5)}}
      {{> voucher}}
    {{/each}}
  </div>
</div>

<div class="products-board" id="favorite" style="display: none;">
  <div class="title" data-tippy-content="Xem toàn bộ sản phẩm">
    <i class="fi fi-sr-flame"></i>
    <div><a href="/all-products" class="main-title"><b>SẢN PHẨM CÓ THỂ BẠN SẼ THÍCH</b></a></div>
  </div>

  <div class="products">
    {{#each (holderData 10)}}
      {{> product}}
    {{/each}}
  </div>
</div>

<div class="flash-deal-board" id="flash-deal">
  <div class="title" data-tippy-content="Xem toàn bộ sản phẩm đang sale">
    <i class="fi fi-sr-bolt"></i>
    <div><a href="/all-products/status/flash-sale" class="main-title"><b>SẢN PHẨM FLASH DEAL</b></a></div>
  </div>
  
  <div class="products">
    {{#each (holderData 5)}}
      {{> product}}
    {{/each}}
  </div>
  
  <a href="/all-products/isFlashDeal/true" class="view-all-btn">View All Flash Deals</a>
</div>

<div class="products-board" id="top-sale">
  <div class="title">
    <div><a href="/all-products/isTopSelling/true" class="main-title"><b>TOP SELLING PRODUCTS</b></a></div>
    <p class="subtitle">Loved by thousands of customers</p>
  </div>
  
  <div class="products">
    {{#each (holderData 5)}}
      {{> product}}
    {{/each}}
  </div>
  
  <a href="/all-products/isTopSelling/true" class="view-all-btn">View All Top Selling</a>
</div>

<div class="products-board" id="new-arrival">
  <div class="title">
    <div><a href="/all-products/isNewArrival/true" class="main-title"><b>NEW ARRIVAL PRODUCTS</b></a></div>
    <p class="subtitle">The trendiest products right now</p>
  </div>
  
  <div class="products">
    {{#each (holderData 5)}}
      {{> product}}
    {{/each}}
  </div>
  
  <a href="/all-products/isNewArrival/true" class="view-all-btn">View All New Release Products</a>
</div>

<div class="products-board" id="all">
  <div class="title" data-tippy-content="Xem toàn bộ sản phẩm">
    <i class="fi fi-sr-flame"></i>
    <div><a href="/all-products" class="main-title"><b>TOÀN BỘ SẢN PHẨM</b></a></div>
  </div>

  <div class="products">
    {{#each (holderData 5)}}
      {{> product}}
    {{/each}}
  </div>
</div>

<div class="famous-brand-board" id="brand">
  <div class="title" data-tippy-content="Xem toàn bộ thương hiệu">
    <i class="fi fi-rr-brand"></i>
    <div><a href="/all-brands" class="main-title"><b>THƯƠNG HIỆU NỔI BẬT</b></a></div>
  </div>

  <div class="brands">
    <div class="inner">
      {{#each (holderData 15)}}
      <a class="brand">
        <img loading="lazy">
      </a>
      {{/each}}
    </div>
    <div class="fade"></div>
  </div>
</div>

<script src="/js/user/home.js"></script>