<div class="order-checking-container">
    <div class="checking">
        <h1>Please Enter Your Order Code !</h1>
        <input id="order-checking" type="text" placeholder="Enter Order Code">
        <div class="button">
            <button type="submit">Check</button>
        </div>
        <span class="error-message"></span>
    </div>
</div>

<script type="module" src="/js/user/ordersChecking.js"></script>