<div class="order-checking-container">
    <div class="checking">
        <h1>Hãy Nhập Mã Đơn Để Kiểm Tra Đơn Hàng Của Bạn Nhé !</h1>
        <input id="order-checking" type="text" placeholder="Nhập Mã Đơn Hàng">
        <div class="button">
            <button type="submit">Kiểm Tra</button>
        </div>
        <span class="error-message"></span>
    </div>
</div>

<script type="module" src="/js/user/ordersChecking.js"></script>