<div class="profile-container">
  <div class="sidebar-menu">
    <div class="avatar">
      <div class="avatar-image">
        <img src="https://cosmeticgarden.vn/wp-content/uploads/2024/12/logo-xanh-gradient.png" loading="lazy">
      </div>
      <span class="user-name"></span>
      <span class="user-badge">Khách hàng VIP</span>
    </div>
    <div class="divider"></div>
    <div class="tag">
      <span class="profile" data-section="profile"><i class="fi fi-rr-circle-user"></i><span>Thông tin cá nhân</span></span>
      <span class="order" data-section="order"><i class="fi fi-rr-piggy-bank"></i><span>Danh sách đơn hàng</span></span>
      <span class="rate-order" data-section="rate-order"><i class="fi fi-rr-star"></i><span>Đánh giá đơn hàng</span></span>
      <span class="voucher" data-section="voucher"><i class="fi fi-rr-ticket"></i><span>Danh sách voucher</span></span>
      <span class="user-voucher" data-section="user-voucher"><i class="fi fi-rr-ticket"></i><span>Voucher cá nhân</span></span>
      <span class="reset-password" data-section="reset-password"><i class="fi fi-rr-lock"></i><span>Đổi mật khẩu</span></span>
      <span class="feedBack" data-section="feedback"><i class="fi fi-rr-feedback-alt"></i><span>Góp ý</span></span>
    </div>
  </div>

  <div class="content">

  </div>
</div>   

<script src="/js/user/profileInfo.js"></script>