<div class="profile-container">
  <div class="sidebar-menu">
    <div class="avatar">
      <div class="avatar-image">
        <img src="https://res.cloudinary.com/bunny-store/image/upload/v1763438302/web-img/Thi%E1%BA%BFt_k%E1%BA%BF_ch%C6%B0a_c%C3%B3_t%C3%AAn_zd0z3o.svg" loading="lazy">
      </div>
      <span class="user-name"></span>
      <span class="user-badge"></span>
    </div>
    <div class="divider"></div>
    <div class="tag">
      <span class="profile" data-section="profile"><i class="fi fi-rr-circle-user"></i><span>Personal Info</span></span>
      <span class="order" data-section="order"><i class="fi fi-rr-piggy-bank"></i><span>Order History</span></span>
      <span class="rate-order" data-section="rate-order"><i class="fi fi-rr-star"></i><span>Rate Orders</span></span>
      <span class="voucher" data-section="voucher"><i class="fi fi-rr-ticket"></i><span>Vouchers</span></span>
      <span class="user-voucher" data-section="user-voucher"><i class="fi fi-rr-ticket"></i><span>My Vouchers</span></span>
      <span class="reset-password" data-section="reset-password"><i class="fi fi-rr-lock"></i><span>Change Password</span></span>
      <span class="feedBack" data-section="feedback"><i class="fi fi-rr-feedback-alt"></i><span>Feedback</span></span>
    </div>
  </div>

  <div class="content">

  </div>
</div>   

<script src="/js/user/profileInfo.js"></script>