<div class="profile-container">
  <div class="sidebar-menu">
    <div class="avatar">
      <img src="https://cosmeticgarden.vn/wp-content/uploads/2024/12/logo-xanh-gradient.png" loading="lazy">
      <span class="user-name"></span>
    </div>
    <div class="tag">
      <span class="profile"><i class="fi fi-rr-circle-user"></i>Thông tin cá nhân</span>
      <span class="order"><i class="fi fi-rr-piggy-bank"></i>Danh sách đơn hàng</span>
      <span class="rate-order"><i class="fi fi-rr-star"></i></i>Đánh giá đơn hàng</span>
      <span class="voucher"><i class="fi fi-rr-ticket"></i></i>Danh sách voucher</span>
      <span class="user-voucher"><i class="fi fi-rr-ticket"></i></i>Voucher cá nhân</span>
      <span class="reset-password"><i class="fi fi-rr-lock"></i></i>Đổi mật khẩu</span>
      <span class="feedBack"><i class="fi fi-rr-feedback-alt"></i>Góp ý</span>
    </div>
  </div>

  <div class="content">

  </div>
</div>   

<script src="/js/user/profileInfo.js"></script>