<div class="reset-password-container">
  <form id="form-5">
    <h1>Nhập Email Của Bạn Để Nhận Mã Xác Nhận Nhé</h1>
    <div class="input">
      <input type="text" placeholder="Nhập email ở đây" name="email">
    </div>
    <div class="button">
      <button class="submit-email">Xác nhận email</button>
    </div>
    <span class="message"></span>
  </form>
</div>

<script src="/js/user/resetPassword.js"></script>