<div class="sign-up-container">
  <div class="sign-up-form">
    <img src="https://res.cloudinary.com/bunny-store/image/upload/v1763438302/web-img/Thi%E1%BA%BFt_k%E1%BA%BF_ch%C6%B0a_c%C3%B3_t%C3%AAn_zd0z3o.svg" alt="Logo" />   
    <div class="form">
      <p class="form-title">Sign Up</p>
      <div class="form-input">
        <div class="form-group">
          <input type="text" class="form-control" id="email" name="email" placeholder="Email">
        </div>

        <div class="form-group code" style="display: none">
        </div>

        <div class="form-group name" style="display: none">
        </div>

        <div class="form-group password" style="display: none">
        </div>

        <div class="form-group confirm-password" style="display: none">
        </div>

        <div class="form-group">
          <p class="wrong-info"></p> 
        </div>

        <div class="form-action">
          <button class="submit-email">Sign Up with Email</button>
          <button class="google-sign-up">
            <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" alt="Google logo">
            Sign Up with Google
          </button>
        </div>

        <div class="sign-in">
          <p>Already have an account?</p>
          <a href="/authentication/sign-in"><p style="color: red; text-decoration:underline">Sign In Now</p></a>
          <a href="/home"><p style="color: red; text-decoration:underline">Continue Shopping</p></a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/user/signUp.js"></script>