<div class="sign-in-container">
  <div class="sign-in-form">
    <img src="https://cosmeticgarden.vn/wp-content/uploads/2024/12/logo-xanh-gradient.png" loading="lazy">
    <div class="form">
      <p class="form-title">Đăng nhập</p>
      <form id="form-1">
        <div class="form-group">
          <input type="email" class="form-control" id="email" name="email" placeholder="Email">
          <span class="form-message"></span>
        </div>

        <div class="form-group">
          <input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu">
          <span class="form-message"></span>
        </div>

        <div class="form-group">
          <p class="wrong-info"></p> 
          <a href="/authentication/reset-password" class="forgot-password">Quên mật khẩu ?</a>
        </div>

        <div class="form-action">
          <button title="submit" type="submit">Đăng nhập</button>
          <button class="google-sign-in">
            <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" alt="Google logo">
            Đăng nhập bằng Google
          </button>
        </div>

        <div class="sign-up">
          <p>Bạn chưa có tài khoản ?</p>
          <a href="/authentication/sign-up"><p style="color: red; text-decoration:underline">Đăng kí ngay thôi</p></a>
          <a href="/home"><p style="color: red; text-decoration:underline">Tiếp tục Shopping</p></a>
        </div>
      </form>
    </div>
    <a href="/emp/authentication/sign-in" class="emp-sign-in"></a>
  </div>
</div>

<script src="/js/user/signIn.js"></script>