<div class="admin-sidebar-container">
  <button class="resize-button">
    <i class="fi fi-rr-cross"></i>
    <i class="fi fi-rr-menu-burger" style="display: none;"></i>
  </button>

  <div class="admin-account">
    <div style="padding-left: 10px;">
      <p id="welcome-text"></p>
    </div>
  </div>
  
  <div class="admin-button"></div>
</div>

<script type="module" src="/js/partials/adminSidebar.js"></script>