<div class="admin-notification"><span class="unread-quantity">0</span><i class="fi fi-rr-bell"></i></div>

<div class="notification-box" style="display: none;">
  <div class="box-header">
    <span>Notifications</span>
    <i class="fi fi-rr-progress-complete"></i>
  </div>
  <div class="box-content">
  </div>
</div>

<script src="/js/partials/adminNotification.js"></script>