<div class="table-button">
  <button id="export-js"><b>Xuất file Excel</b></button>
  <select name="pagination" id="pagination">
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>
  <i class="fi fi-rr-objects-column"></i>
  <div class="checkbox-group" style="display: none;">
    <button class="generate-columns">Chọn</button>
  </div>
</div>
