<div class="scroll-to-top-icon" style="display: none;"><i class="fi fi-sr-angle-circle-up"></i></div>
<div class="chatbot-icon" data-tippy-content="Chat với AI của cửa hàng"><i class="fi fi-rr-chatbot-speech-bubble"></i></div>
<div class="chat-icon" data-tippy-content="Chat trực tiếp với admin"><i class="fi fi-sr-comment-quote"></i></div>

<div class="chat-box" style="display: none">
  <div class="chat-header" style="opacity: 0;">
    <div class="icon">
      <img src="https://res.cloudinary.com/bunny-store/image/upload/v1763438302/web-img/Thi%E1%BA%BFt_k%E1%BA%BF_ch%C6%B0a_c%C3%B3_t%C3%AAn_zd0z3o.svg" alt="Logo" />
      <div>Hỗ trợ trực tuyến</div>
    </div>
    <div class="minimize" style="cursor: pointer;"><i class="fi fi-br-window-minimize"></i></div>
  </div>
  <div class="chat-body" style="display: none">
    <ul class="chat-content">
      <li class="left-content">Hi, em có thể hỗ trợ gì cho anh/chị không ạ</li>
    </ul>
    
    <form class="input-form">
      <textarea name="input" id="input" class="input" placeholder="Aa"></textarea>
      <div class="send-btn not-allowed">Gửi</div>
    </form>
  </div>
  <div class="not-logged-in"><p>Please <a href="/authentication/sign-in">Login</a> to chat</p></div>
</div>

<div class="ai-chat-box" style="display: none">
  <div class="chat-header" style="opacity: 0;">
    <div class="icon">
      <i class="fi fi-rr-chatbot-speech-bubble"></i>
      <div>Chatbot</div>
    </div>
    <div class="minimize" style="cursor: pointer;"><i class="fi fi-br-window-minimize"></i></div>
  </div>
  <div class="chat-body" style="display: none">
    <ul class="chat-content">
      <li class="left-content">BEAUTÉ Chatbot – trợ lý thân thiện giúp bạn tìm hiểu sản phẩm, xem đánh giá và cập nhật khuyến mãi nhanh chóng.</li>
    </ul>
    
    <form class="input-form">
      <textarea name="input" id="input" class="input" placeholder="Aa"></textarea>
      <div class="send-btn not-allowed">Gửi</div>
    </form>
  </div>
  <div class="not-logged-in"><p>Please <a href="/authentication/sign-in">Login</a> to chat</p></div>
</div>

<script src="/js/partials/fixedComponents.js"></script>