<a href="/all-products/product/{{this._id}}">
  <div class="product" data-tippy-content="{{this.name}}">
    <div class="loading"></div>
    <img loading="lazy">
    <del><p id="old-price"></p></del>
    <p id="price"></p>
    <p id="name"></p>
    <p id="rate">
      <span id="rate-score"></span>/5
      <i class="fi fi-ss-star"></i>
      <i class="fi fi-ss-star"></i>
      <i class="fi fi-ss-star"></i>
      <i class="fi fi-ss-star"></i>
      <i class="fi fi-ss-star"></i>
    </p>
    <p id="sale-number"></p>
  </div>
</a>