<div class="footer-container">
  <div class="footer-row">
    <div class="footer-col">
      <p class="footer-title">VĂN PHÒNG &amp; NHÀ MÁY</p>
      <p class="footer-text">Công ty TNHH Cosmetic Garden Việt Nam</p>
      <p class="footer-text">VIET NAM COSMETIC GARDEN COMPANY LIMITED</p>
      <p class="footer-subtext">MST: 0108399598</p>
      <p class="footer-subtext">Địa chỉ: 51 Lê Văn Hưu, Hai Bà Trưng, Hà Nội</p>
      <p class="footer-subtext">Nhà máy: Cụm Công Nghiệp Ngọc Hồi - Thanh Trì - Hà Nội</p>
      <p class="footer-subtext">Email: cosmeticgardengroup@gmail.com</p>
      <p class="footer-subtext">Hotline: 0978085283 (CSKH)</p>
    </div>

    <div class="footer-col">
      <p class="footer-title">HỖ TRỢ KHÁCH HÀNG</p>
      <p class="footer-text">Phương thức đặt hàng</p>
      <p class="footer-text">Điều khoản miễn trừ</p>
      <p class="footer-text">Chính sách bảo mật</p>
      <p class="footer-text">Chính sách vận chuyển và đổi trả hàng</p>
    </div>

    <div class="footer-col">
      <p class="footer-title">TƯ VẤN KHÁCH HÀNG</p>
      <p class="footer-subtext">Hotline: 09888880364</p>
      <p class="footer-subtext">Email: cosmeticgardengroup@gmail.com</p>
      <p class="footer-subtext">Giờ làm việc:</p>
      <p class="footer-subtext">+ T2 - T7 | 08:00 - 18:00</p>
      <p class="footer-subtext">+ T7 - CN | 08:00 - 12:00</p>
    </div>

    <div class="footer-col">
      <p class="footer-title">HỢP TÁC LIÊN DOANH</p>
      <div class="social-icons">
        <a href="https://www.facebook.com/tung.nguyentien.3572846" target="_blank" class="icon facebook">
          <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/facebook.svg" alt="Facebook" />
        </a>
        <a href="mailto:cosmeticgardengroup@gmail.com" class="icon email">
          <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/gmail.svg" alt="Email" />
        </a>
        <a href="tel:0978085283" class="icon phone">
          <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/phone.svg" alt="Phone" />
        </a>
      </div>
    </div>
  </div>
</div>
