<header class="beautify-navbar">
  <!-- Gradient background giống React -->
  <div class="navbar-gradient"></div>

  <div class="navbar-inner">
    <!-- LOGO -->
    <h1 class="font-['Playfair_Display',sans-serif] text-[#224f5f] text-[36px]" style="font-weight: 700; line-height: normal;">BEAUTÉ</h1>

    <!-- DESKTOP MENU -->
    <div class="menu">
      <!-- Danh mục sản phẩm (giữ nguyên 100% cấu trúc cũ) -->
      <div class="dropdown">
        <div class="dropdown-title">
          <i class="fi fi-br-menu-burger"></i>
          <p>DANH MỤC SẢN PHẨM</p>
        </div>

        <ul>
          <li>
            <span>
              <a href="/all-products/categories/skincare">Skincare</a>
            </span>
            <ul>
              <li><a href="/all-products/skincare/xit-khoang">Xịt khoáng<img src="https://res.cloudinary.com/bunny-store/image/upload/v1711079975/web-img/mhseyytpn8h6zvg4tabd_r57wfv.webp" alt="loading" loading="lazy"></a></li>
              <li><a href="/all-products/skincare/mat-na">Mặt nạ<img src="https://res.cloudinary.com/bunny-store/image/upload/v1711079978/web-img/sfudjh00pykqpvav4sgy_xqbzev.webp" alt="loading" loading="lazy"></a></li>
              <li><a href="/all-products/skincare/serum">Serum<img src="https://res.cloudinary.com/bunny-store/image/upload/v1711079970/web-img/kjz3zdlyxo76h1p3t6lm_uk4agl.webp" alt="loading" loading="lazy"></a></li>
              <li><a href="/all-products/skincare/bha">BHA<img src="https://res.cloudinary.com/bunny-store/image/upload/v1730814300/web-img/dfw5hkqs9gww8tzb6q94_amc5t1.webp" alt="loading" loading="lazy"></a></li>
              <li><a href="/all-products/skincare/tay-da-chet">Tẩy da chết<img src="https://res.cloudinary.com/bunny-store/image/upload/v1711079964/web-img/ettmlmf7s4x0g8d98nvq_vklnps.webp" alt="loading" loading="lazy"></a></li>
              <li><a href="/all-products/skincare/duong-da">Dưỡng da<img src="https://res.cloudinary.com/bunny-store/image/upload/v1711079987/web-img/xkkpidyegeiesbea9rk5_b4tgej.webp" alt="loading" loading="lazy"></a></li>
              <li><a href="/all-products/skincare/toner">Toner<img src="https://res.cloudinary.com/bunny-store/image/upload/v1711079967/web-img/k0easo5upkoydszse1i3_jp7mrg.webp" alt="loading" loading="lazy"></a></li>
              <li><a href="/all-products/skincare/nuoc-tay-trang">Nước tẩy trang<img src="https://res.cloudinary.com/bunny-store/image/upload/v1711079972/web-img/md2husxtaoo5kmyp6qxy_cmvvnp.webp" alt="loading" loading="lazy"></a></li>
              <li><a href="/all-products/skincare/cham-mun">Chấm mụn<img src="https://res.cloudinary.com/bunny-store/image/upload/v1711079961/web-img/almfjrziupsfnxh4ikej_hfcib1.webp" alt="loading" loading="lazy"></a></li>
              <li><a href="/all-products/skincare/kem-duong-am">Kem dưỡng ẩm<img src="https://res.cloudinary.com/bunny-store/image/upload/v1711079981/web-img/sznuvy878jkx6irn87wt_molje8.webp" alt="loading" loading="lazy"></a></li>
              <li><a href="/all-products/skincare/sua-rua-mat">Sữa rửa mặt<img src="https://res.cloudinary.com/bunny-store/image/upload/v1711079959/web-img/zeuznbkrsspuucipy2bh_akixfj.webp" alt="loading" loading="lazy"></a></li>
            </ul>
          </li>
          <li>
            <span>
              <a href="/all-products/categories/makeup">Makeup</a>
            </span>
            <ul>
              <li><a href="/all-products/makeup/phan-ma">Phấn má<img src="https://res.cloudinary.com/bunny-store/image/upload/v1711080154/web-img/o1th0fymd3gzjzgwbrbz_ghkt70.webp" alt="loading" loading="lazy"></a></li>
              <li><a href="/all-products/makeup/mascara">Mascara<img src="https://res.cloudinary.com/bunny-store/image/upload/v1711080143/web-img/ejschlqugyhr4asayspm_hbrdiy.webp" alt="loading" loading="lazy"></a></li>
              <li><a href="/all-products/makeup/ke-mat">Kẻ mắt<img src="https://res.cloudinary.com/bunny-store/image/upload/v1711080172/web-img/djy7wut0chooynp65hov_xxbwxi.webp" alt="loading" loading="lazy"></a></li>
              <li><a href="/all-products/makeup/kem-chong-nang">Kem chống nắng<img src="https://res.cloudinary.com/bunny-store/image/upload/v1711080150/web-img/hspzixrzay9whcg51meo_h4iotk.webp" alt="loading" loading="lazy"></a></li>
              <li><a href="/all-products/makeup/che-khuyet-diem">Che khuyết điểm<img src="https://res.cloudinary.com/bunny-store/image/upload/v1711080188/web-img/vr3yzblr5g0crzkgj9po_e8mrjp.webp" alt="loading" loading="lazy"></a></li>
              <li><a href="/all-products/makeup/son">Son<img src="https://res.cloudinary.com/bunny-store/image/upload/v1711080146/web-img/jd2llxirfbwpdwekk7lz_cpznu5.webp" alt="loading" loading="lazy"></a></li>
            </ul>
          </li>
          <li>
            <span>
              <a href="/all-brands">Thương hiệu</a>
            </span>
            <ul>
              <li><a href="/all-brands/brand/671fa67c48eef1c9d446d691">Banobagi<img src="https://res.cloudinary.com/bunny-store/image/upload/v1741681141/brands/a2a5652e514c06566a44e45b280d3df2_cdksc2_af5qn7.webp" alt="loading" loading="lazy"></a></li>
              <li><a href="/all-brands/brand/671fa67c48eef1c9d446d692">PRETTYSKIN<img src="https://res.cloudinary.com/bunny-store/image/upload/v1741681142/brands/images_a2onru_hb5ics.webp" alt="loading" loading="lazy"></a></li>
              <li><a href="/all-brands/brand/671fa67c48eef1c9d446d693">Obagi<img src="https://res.cloudinary.com/bunny-store/image/upload/v1741681147/brands/Obagi_Medical_from_MyExceptionalSkinCare.com_Logo_qsjha7_g5gh3b.webp" alt="loading" loading="lazy"></a></li>
              <li><a href="/all-brands/brand/671fa67c48eef1c9d446d694">Mediheal<img src="https://res.cloudinary.com/bunny-store/image/upload/v1741681147/brands/mediheal_collectiveli_buy_shop_korean_skincare_brands_beauty_online_store_retailer_international_hong_kong.jpg_xzg00u_lrtzsj.webp" alt="loading" loading="lazy"></a></li>
              <li><a href="/all-brands/brand/671fa67c48eef1c9d446d695">Dove<img src="https://res.cloudinary.com/bunny-store/image/upload/v1741681142/brands/Dove_logo_bykg3q_msjk5v.webp" alt="loading" loading="lazy"></a></li>
              <li><a href="/all-brands/brand/671fa67c48eef1c9d446d696">Vaseline<img src="https://res.cloudinary.com/bunny-store/image/upload/v1741681140/brands/2e567019d299a63e69c7cefa0a1bd0995c23ceb2-1080x1080_fzni2w_k8zjwx.webp" alt="loading" loading="lazy"></a></li>
              <li><a href="/all-brands/brand/671fa67c48eef1c9d446d697">The Ordinary<img src="https://res.cloudinary.com/bunny-store/image/upload/v1741681148/brands/the-ordinary-logo-vector_ryxmc7_vffmcb.webp" alt="loading" loading="lazy"></a></li>
              <li><a href="/all-brands/brand/671fa67c48eef1c9d446d698">Maybelline<img src="https://res.cloudinary.com/bunny-store/image/upload/v1741681147/brands/mau_thiet_ke_logo_thuong_hieu_cong_ty_maybelline_1_wwmlm7_hab8d1.webp" alt="loading" loading="lazy"></a></li>
              <li><a href="/all-brands/brand/671fa67c48eef1c9d446d699">Apieu<img src="https://res.cloudinary.com/bunny-store/image/upload/v1741681141/brands/APIEU_dquker_pq4mhv.webp" alt="loading" loading="lazy"></a></li>
              <li><a href="/all-brands/brand/671fa67c48eef1c9d446d69a">Karadium<img src="https://res.cloudinary.com/bunny-store/image/upload/v1741681140/brands/20240113_f1W8LcVw_em6ko3_vpniyi.webp" alt="loading" loading="lazy"></a></li>
            </ul>
          </li>
          <li>
            <span>
              <a href="/all-products">Toàn bộ sản phẩm</a>
              <i class="fi fi-rr-angle-small-right" style="padding-top: 5px;"></i>
            </span>
          </li>
        </ul>
      </div>

      <div class="header-title"><a href="/home">TRANG CHỦ</a></div>
      <div class="header-title"><a href="/introduce">GIỚI THIỆU</a></div>
      <div class="header-title"><a href="/all-products/status/new-arrival">HÀNG MỚI VỀ</a></div>
      <div class="header-title"><a href="/all-orders/checking">ĐƠN HÀNG</a></div>
      <div class="header-title search-toggle" data-tippy-content="Tìm kiếm sản phẩm"><i class="fi fi-br-search"></i></div>
    </div>

    <!-- RIGHT ICONS -->
    <div class="header-button">
      <a href="/all-orders" class="orders">
        <span class="orders-quantity"></span>    
        <i class="fi fi-rr-shopping-cart-add" data-tippy-content="Xem giỏ hàng"></i>
      </a>
      <img src="https://res.cloudinary.com/bunny-store/image/upload/v1763438302/web-img/Thi%E1%BA%BFt_k%E1%BA%BF_ch%C6%B0a_c%C3%B3_t%C3%AAn_zd0z3o.svg" class="dropdown-avatar" alt="avatar" loading="lazy"/>
    </div>
  </div>

  <input type="text" id="search-input" placeholder="Nhập tên sản phẩm, tên thương hiệu để tìm kiếm" style="display: none">

  <!-- Search results (giữ nguyên) -->
  <div id="search-products" style="display: none">
    <div id="search-products-header">
      <p style="width: 15%">Thương hiệu</p>
      <p style="width: 65%">Sản phẩm</p>  
      <p style="width: 10%">Dòng loại</p>
      <p style="width: 10%">Mức giá</p>
    </div>
  </div>

  <!-- Avatar menu (giữ nguyên) -->
  <div class="avatar-menu" style="display: none"></div>
</header>

<script src="/js/partials/userHeader.js"></script>