<a href="/all-vouchers/voucher/{{this._id}}">
  <div class="voucher">
    <div class="loading"></div>
    <p id="name"></p>
    <p id="description"></p>
    <p id="end-date"></p>
    <p id="code"></p>
    <button>Copy code</button>
  </div>
</a>