<div class="brand-details-container">
  <div id="form">
    <table id="table-1">
      <thead>
        <tr><td colspan="2">THÔNG TIN THƯƠNG HIỆU</td></tr>
      </thead>
      <tr>
        <td>Mã thương hiệu</td>
        <td><input type="text" id="id" disabled></td>
      </tr>
      <tr>
        <td>Tên thương hiệu</td>
        <td><input type="text" id="name" disabled></td>
      </tr>
      <tr>
        <td>Số lượng sản phẩm</td>
        <td><input type="text" id="quantity" disabled></td>
      </tr>
      <tr>
        <td>Tổng doanh thu </td>
        <td><input type="text" id="total" disabled></td>
      </tr>
      <tr>
        <td>Mô tả chi tiết</td>
        <td><input type="text" id="details"></td>
      </tr>
    </table>

    <table id="table-2">
      <thead>
        <tr><td colspan="5">DANH SÁCH SẢN PHẨM</td></tr>
      </thead>
      <thead>
        <tr>
          <td style="width:  5%">STT         </td>
          <td style="width: 35%">Tên Sản Phẩm</td>
          <td style="width: 25%">Đơn Giá     </td>
          <td style="width: 25%">S/L         </td>
          <td style="width: 10%">Chi tiết    </td>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <div class="submit-button"><button title="submit" type="submit">Cập nhật</button></div>
  </div>
</div>

<script src="/js/admin/detail/brand.js"></script>