<div class="customer-details-container">
  <div id="form">
    <table id="table-1">
      <thead>
        <tr><td colspan="2">CUSTOMER INFORMATION</td></tr>
      </thead>
      <tr>
        <td>Customer Code</td>
        <td><input type="text" id="id" name="id" disabled></td>
      </tr>
      <tr>
        <td>Customer Name</td>
        <td><input type="text" id="name" name="name"></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><input type="text" id="email" name="email" disabled></td>
      </tr>
      <tr>
        <td>Phone</td>
        <td><input type="text" id="phone" name="phone"></td>
      </tr>
      <tr>
        <td>Address</td>
        <td><input type="text" id="address" name="address"></td>
      </tr>
      <tr>
        <td>Date of Birth</td>
        <td><input type="date" id="dob" name="dob"></td>
      </tr>
      <tr>
        <td>Gender</td>
        <td>
          <input type="radio" name="gender" id="male" value="male">Male
          <input type="radio" name="gender" id="female" value="female">Female
        </td>
      </tr>
      <tr>
        <td>Total Orders</td>
        <td><input type="text" id="quantity" name="quantity" disabled></td>
      </tr>
      <tr>
        <td>Total Spending</td>
        <td><input type="text" id="revenue" name="revenue" disabled></td>
      </tr>
      <tr>
        <td>Hạng thành viên</td>
        <td><input type="text" id="member" name="member" disabled></td>
      </tr>
    </table>

    <div class="submit-button"><button title="submit" type="submit">Cập nhật</button></div>

    <table id="table-2">
      <thead>
        <tr><td colspan="5">ORDER LIST</td></tr>
      </thead>
      <thead>
        <tr>
          <td style="width:  5%">STT                   </td>
          <td style="width: 35%">Total Amount             </td>
          <td style="width: 25%">Payment Method</td>
          <td style="width: 25%">Status            </td>
          <td style="width: 10%">Details              </td>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<script src="/js/admin/detail/customer.js"></script>