<div class="employee-details-container">
  <div id="form">
    <table id="table-1">
      <thead>
        <tr><td colspan="2">THÔNG TIN NHÂN VIÊN</td></tr>
      </thead>
      <tr>
        <td>Mã Nhân Viên</td>
        <td><input type="text" id="id" disabled></td>
      </tr>
      <tr>
        <td>Tên Nhân Viên</td>
        <td><input type="text" id="name"></td>
      </tr>
      <tr>
        <td>Vị trí</td>
        <td><select name="role" id="role"></select></td>
      </tr>
      <tr>
        <td>Mức lương</td>
        <td><input type="text" id="wage" name="wage" disabled></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><input type="text" id="email" name="email" disabled></td>
      </tr>
      <tr>
        <td>SĐT</td>
        <td><input type="text" id="phone" name="phone"></td>
      </tr>
      <tr>
        <td>Ngày sinh</td>
        <td><input type="date" id="dob" name="dob"></td>
      </tr>
      <tr>
        <td>Địa Chỉ</td>
        <td><input type="text" id="address" name="address"></td>
      </tr>
      <tr>
        <td>Giới tính</td>
        <td>
          <input type="radio" name="gender" id="male" value="male">Nam
          <input type="radio" name="gender" id="female" value="female">Nữ
        </td>
      </tr>
      <tr>
        <td>Ngày vào làm</td>
        <td><input type="text" id="date" name="date" disabled></td>
      </tr>
    </table>
    
    <div class="submit-button"><button title="submit" type="submit">Cập nhật</button></div>
  </div>
</div>

<script src="/js/admin/detail/employee.js"></script>