<div class="product-details-container">
  <div id="form">
    <table id="table-1">
      <thead>
        <tr><td colspan="2">PRODUCT INFORMATION</td></tr>
      </thead>
      <tr>
        <td>Material ID</td>
        <td><input type="text" id="id" disabled></td>
      </tr>
      <tr>
        <td>Material Code</td>
        <td><input type="text" id="code"></td>
      </tr>
      <tr>
        <td>Tên</td>
        <td><input type="text" id="name"></td>
      </tr>
      <tr>
        <td>Category</td>
        <td><input type="text" id="category"></td>
      </tr>
      <tr>
        <td>Description</td>
        <td><input type="text" id="description"></td>
      </tr>
      <tr>
        <td>Unit</td>
        <td><input type="text" id="unit"></td>
      </tr>
      <tr>
        <td>Quantity</td>
        <td><input type="text" id="quantity"></td>
      </tr>
      <tr>
        <td>Price</td>
        <td><input type="text" id="price"></td>
      </tr>
      <tr>
        <td>Supplier Code</td>
        <td><input type="text" id="supplierId"></td>
      </tr>
      <tr>
        <td>Expiration Date</td>
        <td><input type="date" id="expiry_date"></td>
      </tr>
      <tr>
        <td>Certifications</td>
        <td><input type="text" id="certifications"></td>
      </tr>
    </table>
    
    <div class="submit-button"><button title="submit" type="submit">Cập nhật</button></div> 
  </div>
</div>

<script src="/js/admin/detail/material.js"></script>