<div class="product-details-container">
  <div id="form">
    <table id="table-1">
      <thead>
        <tr><td colspan="2">THÔNG TIN SẢN PHẨM</td></tr>
      </thead>
      <tr>
        <td>ID nguyên liệu</td>
        <td><input type="text" id="id" disabled></td>
      </tr>
      <tr>
        <td>Mã nguyên liệu</td>
        <td><input type="text" id="code"></td>
      </tr>
      <tr>
        <td>Tên</td>
        <td><input type="text" id="name"></td>
      </tr>
      <tr>
        <td>Danh mục</td>
        <td><input type="text" id="category"></td>
      </tr>
      <tr>
        <td>Mô tả</td>
        <td><input type="text" id="description"></td>
      </tr>
      <tr>
        <td>Đơn vị</td>
        <td><input type="text" id="unit"></td>
      </tr>
      <tr>
        <td>Số lượng</td>
        <td><input type="text" id="quantity"></td>
      </tr>
      <tr>
        <td>Giá</td>
        <td><input type="text" id="price"></td>
      </tr>
      <tr>
        <td>Mã nhà cung cấp</td>
        <td><input type="text" id="supplierId"></td>
      </tr>
      <tr>
        <td>Ngày hết hạn</td>
        <td><input type="date" id="expiry_date"></td>
      </tr>
      <tr>
        <td>Chứng nhận</td>
        <td><input type="text" id="certifications"></td>
      </tr>
    </table>
    
    <div class="submit-button"><button title="submit" type="submit">Cập nhật</button></div> 
  </div>
</div>

<script src="/js/admin/detail/material.js"></script>