<div class="order-details-container">
  <div id="form">
    <table id="table-1">
      <thead>
        <tr><td colspan="2">THÔNG TIN ĐƠN HÀNG</td></tr>
      </thead>
      <tr>
        <td>Mã Đơn</td>
        <td><input type="text" id="id" disabled></td>
      </tr>
      <tr>
        <td>Ngày Đặt</td>
        <td><input type="text" id="date" disabled></td>
      </tr>
      <tr>
        <td>Khách Hàng</td>
        <td style="display: flex; gap: 10px; align-items: center;">
          <input type="text" id="name" disabled>
          <a id="customer-link" href="" target="_blank">Xem</a>
        </td>
      </tr>
      <tr>
        <td>SĐT</td>
        <td><input type="text" id="phone" disabled></td>
      </tr>
      <tr>
        <td>Địa Chỉ</td>
        <td><input type="text" id="address" disabled></td>
      </tr>
      <tr>
        <td>Ghi Chú</td>
        <td><input type="text" id="note" disabled></td>
      </tr>
      <tr>
        <td>Phương thức thanh toán</td>
        <td><select name="paymentMethod" id="paymentMethod"></select></td>
      </tr>
      <tr>
        <td>Tổng Tiền</td>
        <td><input type="text" id="total" disabled></td>
      </tr>
      <tr>
        <td>Tổng Tiền Sau Giảm Giá</td>
        <td><input type="text" id="new-total" disabled></td>
      </tr>
      <tr>
        <td>Trạng thái đơn</td>
        <td><select name="status" id="status"></select></td>
      </tr>
      <tr>
        <td>Trạng thái đánh giá</td>
        <td><input name="status" id="isRated" disabled></input></td>
      </tr>
      <tr>
        <td>Trạng thái thanh toán</td>
        <td>
          <select name="status" id="isPaid">
            <option value="false" disabled>Chưa thanh toán</option>
            <option value="true" disabled>Đã thanh toán</option>
          </select>
        </td>
      </tr>
    </table>

    <table id="table-2">
      <thead>
        <tr><td colspan="5">CHI TIẾT ĐƠN HÀNG</td></tr>
      </thead>
      <thead>
        <tr>
          <td>STT</td>
          <td>Tên Sản Phẩm</td>
          <td>Số Lượng</td>
          <td>Giá</td>
          <td>Chi tiết</td>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    
    <div class="submit-button">
      <button title="submit" type="submit">Cập nhật</button>
    </div>
    <div style="width: 100%; display: flex; justify-content: flex-end; margin-top: 10px;">
      <button id="export-js"><b>Xuất file Excel</b></button>
    </div>
  </div>     
</div>

<script src="/js/admin/detail/order.js"></script>