<div class="purchase-details-container">
  <div id="form">
    <table id="table-1">
      <thead>
        <tr><td colspan="2">THÔNG TIN ĐƠN NHẬP</td></tr>
      </thead>
      <tr>
        <td>Mã Đơn</td>
        <td><input type="text" id="id" disabled></td>
      </tr>
      <tr>
        <td>Ngày Nhập</td>
        <td><input type="text" id="date" disabled></td>
      </tr>
      <tr>
        <td>NCC</td>
        <td><input type="text" id="supplier" disabled></td>
      </tr>
      <tr>
        <td>SĐT</td>
        <td><input type="text" id="phone" disabled></td>
      </tr>
      <tr>
        <td>Địa Chỉ</td>
        <td><input type="text" id="address" disabled></td>
      </tr>
      <tr>
        <td>Ghi Chú</td>
        <td><input type="text" id="note" disabled></td>
      </tr>
      <tr>
        <td>Tổng Tiền</td>
        <td><input type="text" id="total" disabled></td>
      </tr>
    </table>

    <table id="table-2">
      <thead>
        <tr><td colspan="5">NGUYÊN LIỆU</td></tr>
      </thead>
      <thead>
        <tr>
          <td>STT</td>
          <td>Tên Nguyên Liệu</td>
          <td>Số Lượng</td>
          <td>Giá</td>
          <td>Chi tiết</td>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<script src="/js/admin/detail/purchase.js"></script>