<div class="purchase-details-container">
  <div id="form">
    <table id="table-1">
      <thead>
        <tr><td colspan="2">PURCHASE ORDER INFORMATION</td></tr>
      </thead>
      <tr>
        <td>Order Code</td>
        <td><input type="text" id="id" disabled></td>
      </tr>
      <tr>
        <td>Import Date</td>
        <td><input type="text" id="date" disabled></td>
      </tr>
      <tr>
        <td>Supplier</td>
        <td><input type="text" id="supplier" disabled></td>
      </tr>
      <tr>
        <td>Phone</td>
        <td><input type="text" id="phone" disabled></td>
      </tr>
      <tr>
        <td>Address</td>
        <td><input type="text" id="address" disabled></td>
      </tr>
      <tr>
        <td>Notes</td>
        <td><input type="text" id="note" disabled></td>
      </tr>
      <tr>
        <td>Total Price</td>
        <td><input type="text" id="total" disabled></td>
      </tr>
    </table>

    <table id="table-2">
      <thead>
        <tr><td colspan="5">MATERIALS</td></tr>
      </thead>
      <thead>
        <tr>
          <td>No.</td>
          <td>Material Name</td>
          <td>Quantity</td>
          <td>Price</td>
          <td>Details</td>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<script src="/js/admin/detail/purchase.js"></script>