<div class="store-details-container">
  <div id="form">
    <table id="table-1">
      <thead>
        <tr><td colspan="2">THÔNG TIN ĐẠI LÝ</td></tr>
      </thead>
      <tr>
        <td>Mã đại lý</td>
        <td><input type="text" id="id" disabled></td>
      </tr>
      <tr>
        <td>Tên đại lý</td>
        <td><input type="text" id="name"></td>
      </tr>
      <tr>
        <td>Địa chỉ đại lý</td>
        <td><input type="text" id="address"></td>
      </tr>
      <tr>
        <td>Mô tả chi tiết</td>
        <td><input type="text" id="details"></td>
      </tr>
      <tr>
        <td>Doanh thu đại lý</td>
        <td><input type="text" id="total" disabled></td>
      </tr>
    </table>
    <div class="submit-button"><button title="submit" type="submit">Cập nhật</button></div>
  </div>
</div>

<script src="/js/admin/detail/store.js"></script>