<div class="store-details-container">
  <div id="form">
    <table id="table-1">
      <thead>
        <tr><td colspan="2">STORE INFORMATION</td></tr>
      </thead>
      <tr>
        <td>Store Code</td>
        <td><input type="text" id="id" disabled></td>
      </tr>
      <tr>
        <td>Store Name</td>
        <td><input type="text" id="name"></td>
      </tr>
      <tr>
        <td>Store Address</td>
        <td><input type="text" id="address"></td>
      </tr>
      <tr>
        <td>Detailed Description</td>
        <td><input type="text" id="details"></td>
      </tr>
      <tr>
        <td>Store Revenue</td>
        <td><input type="text" id="total" disabled></td>
      </tr>
    </table>
    <div class="submit-button"><button title="submit" type="submit">Update</button></div>
  </div>
</div>

<script src="/js/admin/detail/store.js"></script>