<div class="customer-details-container">
  <div id="form">
    <table id="table-1">
      <thead>
        <tr><td colspan="2">THÔNG TIN NHÀ CUNG CẤP</td></tr>
      </thead>
      <tr>
        <td>Mã Nhà Cung Cấp</td>
        <td><input type="text" id="id" disabled></td>
      </tr>
      <tr>
        <td>Tên Nhà Cung Cấp</td>
        <td><input type="text" id="name"></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><input type="text" id="email" disabled></td>
      </tr>
      <tr>
        <td>SĐT</td>
        <td><input type="text" id="phone"></td>
      </tr>
      <tr>
        <td>Địa Chỉ</td>
        <td><input type="text" id="address"></td>
      </tr>
      <tr>
        <td>Tổng đơn nhập</td>
        <td><input type="text" id="quantity" disabled></td>
      </tr>
      <tr>
        <td>Tổng chi phí</td>
        <td><input type="text" id="total" disabled></td>
      </tr>
    </table>

    <table id="table-2">
      <thead>
        <tr><td colspan="5">DANH SÁCH ĐƠN NHẬP</td></tr>
      </thead>
      <thead>
        <tr>
          <td style="width:  5%">STT       </td>
          <td style="width: 35%">Tổng tiền </td>
          <td style="width: 25%">Ngày nhập </td>
          <td style="width: 10%">Chi tiết  </td>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <div class="submit-button"><button title="submit" type="submit">Cập nhật</button></div>
  </div>
</div>

<script src="/js/admin/detail/supplier.js"></script>