<div class="voucher-details-container">
  <div id="form">
    <table id="table-1">
      <thead>
        <tr><td colspan="2">VOUCHER INFORMATION</td></tr>
      </thead>
      <tr>
        <td>User Code</td>
        <td><input type="text" id="userId" disabled></td>
      </tr>
      <tr>
        <td>Order Code</td>
        <td><input type="text" id="orderId"></td>
      </tr>
      <tr>
        <td>Voucher Code</td>
        <td><input type="text" id="code" disabled></td>
      </tr>
      <tr>
        <td>Description</td>
        <td><input type="text" id="description" disabled></td>
      </tr>
      <tr>
        <td>Voucher Type</td>
        <td>
          <select name="voucherType" id="voucherType">
            <option value="order" disabled>Order Voucher</option>
            <option value="birthday" disabled>Birthday Voucher</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Discount Level</td>
        <td><input type="text" id="discount" disabled></td>
      </tr>
      <tr>
        <td>Order Value</td>
        <td><input type="text" id="minOrder" disabled></td>
      </tr>
      <tr>
        <td>Status</td>
        <td>
          <select name="status" id="status">
            <option value="active">Valid</option>
            <option value="end">Expired</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Start Date</td>
        <td><input type="date" id="startDate"></td>
      </tr>
      <tr>
        <td>End Date</td>
        <td><input type="date" id="endDate"></td>
      </tr>
      <tr>
        <td>Date Used</td>
        <td><input type="date" id="usedAt" disabled></td>
      </tr>
    </table>

    <div class="submit-button"><button title="submit" type="submit">Update</button></div>

    <table id="table-2">
      <thead>
        <tr><td colspan="5">APPLICABLE ORDERS</td></tr>
      </thead>
      <thead>
        <tr>
          <td style="width:  5%">No.                   </td>
          <td style="width: 35%">Total Price             </td>
          <td style="width: 25%">Payment Method</td>
          <td style="width: 25%">Status            </td>
          <td style="width: 10%">Details              </td>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<script src="/js/admin/detail/userVoucher.js"></script>