<div class="voucher-details-container">
  <div id="form">
    <table id="table-1">
      <thead>
        <tr><td colspan="2">THÔNG TIN VOUCHER</td></tr>
      </thead>
      <tr>
        <td>Mã Voucher</td>
        <td><input type="text" id="code" disabled></td>
      </tr>
      <tr>
        <td>Tên Voucher</td>
        <td><input type="text" id="name"></td>
      </tr>
      <tr>
        <td>Mô tả</td>
        <td><input type="text" id="description"></td>
      </tr>
      <tr>
        <td>Hạng thành viên</td>
        <td><input type="text" id="memberCode" disabled></td>
      </tr>
      <tr>
        <td>Mức giảm giá</td>
        <td><input type="text" id="discount" disabled></td>
      </tr>
      <tr>
        <td>Mức giảm tối đa</td>
        <td><input type="text" id="maxDiscount" disabled></td>
      </tr>
      <tr>
        <td>Giá trị đơn hàng</td>
        <td><input type="text" id="minOrder" disabled></td>
      </tr>
      <tr>
        <td>Trạng thái</td>
        <td>
          <select name="status" id="status">
            <option value="active">Còn hạn</option>
            <option value="end">Hết hạn</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Ngày bắt đầu</td>
        <td><input type="date" id="start-date"></td>
      </tr>
      <tr>
        <td>Ngày kết thúc</td>
        <td><input type="date" id="end-date"></td>
      </tr>
    </table>

    <div class="submit-button"><button title="submit" type="submit">Cập nhật</button></div>

    <table id="table-2">
      <thead>
        <tr><td colspan="5">DANH SÁCH ĐƠN HÀNG ÁP DỤNG</td></tr>
      </thead>
      <thead>
        <tr>
          <td style="width:  5%">STT                   </td>
          <td style="width: 35%">Tổng tiền             </td>
          <td style="width: 25%">Phương thức thanh toán</td>
          <td style="width: 25%">Tình trạng            </td>
          <td style="width: 10%">Chi tiết              </td>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<script src="/js/admin/detail/voucher.js"></script>