.admin-create-order-container {
  input[type="date"] {
    width: 20%;
  }
  .products-match {
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    box-sizing: border-box;
    
    .product {
      width: 100%;
      box-sizing: border-box;
      background-color: white;
      border-radius: 10px;
      margin-top: 5px;
      padding: 10px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      img { width: 40px; height: 40px;}
    }
  }
  .products-match::-webkit-scrollbar {display: none}
  table {
    text-align: center;
    tfoot {
      background-color: #5ab868;
      color: white;
      height: 50px;
      td:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      td:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .admin-create-purchase-container {
    form {width: 100% !important}
    .form-title, .submit-button {width: 100% !important}
  }
}